Django==5.1.7
django-widget-tweaks==1.5.0
psycopg2
django-q2==1.7.6
cryptography==44.0.2
pandas==2.2.3
openpyxl==3.1.5
tqdm==4.67.1
selenium==4.29.0
webdriver-manager==4.0.2
croniter==6.0.0
django-ckeditor-5==0.2.17
celery==5.5.3
django-celery-results==2.6.0
requests==2.32.4
google-api-python-client==2.172.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.2