{% extends "base.html" %}

{% load static %}
{% block 'title' %}Dispatch Skool - Login{% endblock %}

{% load widget_tweaks %}

{% block 'content' %}

<div class="bg-white pt-20">
		<section class="flex flex-col items-center text-center px-4 md:px-4 lg:px-5 py-6">
			<span class="text-md font-medium text-gray-700 bg-slate-200 px-4 py-1 rounded-full">
				No Cold Calls, No Sales Agents
			</span>
			<h1 class="text-4xl md:text-6xl font-bold text-gray-900 leading-tight mt-4 py-2">
				Streamline Your Dispatch Operations
			</h1>
			<p class="text-gray-500 text-xl sm:text-2xl md:text-2xl max-w-2xl mt-4">
				Find carriers without cold calling or sales agents. Get started with our intelligent dispatch management platform.
			</p>
		</section>
</div>

<div class="flex items-center justify-center my-10">
  <div class="w-full max-w-2xl bg-white shadow-lg rounded-lg p-6">
    
		<div class="pb-5">
			<h2 class="text-2xl md:text-3xl font-semibold mt-1 text-center mb-2">Login Details</h2>
		</div>

    <form method="post" class="grid grid-cols-1 md:grid-cols-2 gap-4">
			{% csrf_token %}
			
			<!-- Row 1 -->
			<div>
					<label class="block font-medium text-gray-700">Username *</label>
					{% render_field form.username class="w-full border border-gray-300 rounded-lg px-3 py-2 focus:ring focus:ring-gray-200 focus:outline-none" placeholder="Enter your username" %}
			</div>
	
			<!-- Row 2 -->
			<div>
					<label class="block font-medium text-gray-700">Password *</label>
					{% render_field form.password class="w-full border border-gray-300 rounded-lg px-3 py-2 focus:ring focus:ring-gray-200 focus:outline-none" placeholder="Enter password" %}
			</div>

			<div>
				<a href="{% url 'users:password_reset' %}" class="text-blue-600 underline">Forgot Password?</a>
			</div>

			<!-- Submit Button -->
			<div class="md:col-span-2">
					<button type="submit" class="w-full bg-gray-900 hover:bg-gray-800 text-white font-medium py-2 rounded-lg">
							Login →
					</button>
			</div>
	</form>


  </div>
</div>


{% endblock %}