{% extends "base.html" %}

{% load static %}
{% load widget_tweaks %}

{% block 'title' %}Dispatch Skool{% endblock %}

{% block 'content' %}

<div class="bg-primary pt-20 text-primary">

  <div class="bg-gradient-to-r from-red-600 to-red-700 text-primary py-3 px-4 text-center shadow-lg relative z-50">
    <div class="container mx-auto flex flex-col md:flex-row justify-center items-center gap-2">
        <span class="font-bold text-lg animate-pulse">🔥 LIMITED TIME OFFER:</span>
        <span class="text-md md:text-lg">Pay for 1 year & get <span class="font-extrabold underline decoration-yellow-400 decoration-4">50% OFF</span> instantly!</span>
        <a href="#pricing" class="ml-0 md:ml-4 bg-primary btn-bg-primary btn-text btn-bg-hover font-bold px-4 py-1 rounded-full transition-colors text-sm">
            Claim Discount
        </a>
    </div>
  </div>

	<section class="flex flex-col items-center text-center px-4 md:px-4 lg:px-5 py-6">
		{% if messages %}
    {% for message in messages %}
        <div class="p-5 my-3 rounded-xl border-2 border-solid 
            {% if message.tags == 'success' %} bg-green-200 border-green-700 text-green-800 
            {% elif message.tags == 'error' %} bg-red-200 border-red-700 text-red-700
						{% elif message.tags == 'warning' %} bg-yellow-200 border-yellow-700 text-red-700
            {% endif %}">
            <p class="text-sm">{{ message }}</p>
        </div>
    {% endfor %}
		{% endif %}

		<span class="text-md font-medium text-secondary bg-tertiary px-4 py-1 rounded-full">
				No Cold Calls, No Sales Agents
		</span>
		<h1 class="text-4xl md:text-6xl font-bold text-primary leading-tight mt-4 py-2">
				Find Carriers <br class="hidden sm:block">
				Without Cold Calling <br class="hidden sm:block">
				Or Sales Agents!
		</h1>
		<h2 class="text-4xl md:text-6xl font-bold text-tertiary mt-2 lg:py-2">
				Train & Automate <br class="hidden sm:block">
				with Dispatch Skool
		</h2>
		<p class="text-secondary text-xl sm:text-2xl md:text-2xl max-w-2xl mt-4">
				Imagine waking up tomorrow and instead of spending 9 hours cold calling, you open your laptop and see 7 new carrier replies waiting in your inbox. 
        That's Dispatch Skool working for you while you sleep.
		</p>
	</section>

	<section class="pb-10 lg:py-8 mb-10">
    <div class="container mx-auto px-4 text-center lg:px-20 pb-10">
			<div class="flex flex-col items-center space-y-4 md:space-y-0 md:flex-row md:space-x-6 justify-center w-full">
				{% if not request.user.is_authenticated %}
          <a href="{% url 'users:signup' %}" class="btn-bg-primary btn-bg-hover btn-text px-8 py-4 text-lg font-bold lg:text-xl rounded-lg w-full md:w-auto text-center">
              Signup →
          </a>
          <a href="{% url 'users:login' %}" class="border border-color hover:btn-bg-primary hover:btn-text font-bold px-8 py-4 text-lg lg:text-xl rounded-lg w-full md:w-auto">
              Login to Dashboard →
          </a>
				{% else %}
          <a href="{% url 'dashboard:index' %}" class="btn-bg-primary btn-bg-hover btn-text px-8 py-4 text-lg font-bold lg:text-xl rounded-lg w-full md:w-auto text-center">
            Dashboard →
          </a>
          {% if request.user.affiliate_profile %}
          <a href="{% url 'affiliates:affiliate_dshbrd' aff_name=request.user.affiliate_profile.name aff_id=request.user.affiliate_profile.id  %}" 
            class="border border-color hover:btn-bg-primary hover:btn-text font-bold px-8 py-4 text-lg lg:text-xl rounded-lg w-full md:w-auto">
              <i class="fa-solid fa-users hover:btn-text"></i>
              <span class="ms-3">Affiliates →</span>
          </a>
          {% endif %}
				{% endif %}
			</div>
		
        <div class="grid grid-cols-2 gap-8 text-center mt-12 md:grid-cols-4 px-4 lg:px-20">
            <div>
                <p class="text-3xl lg:text-4xl font-bold">250+</p>
                <p class="text-tertiary text-lg lg:text-xl">Active Dispatchers</p>
            </div>
            <div>
                <p class="text-3xl lg:text-4xl font-bold">95%</p>
                <p class="text-tertiary text-lg lg:text-xl">Success Rate</p>
            </div>
            <div>
                <p class="text-3xl lg:text-4xl font-bold">5000+</p>
                <p class="text-tertiary text-lg lg:text-xl">Carriers Found</p>
            </div>
            <div>
                <p class="text-3xl lg:text-4xl font-bold">99%</p>
                <p class="text-tertiary text-lg lg:text-xl">Time Saved</p>
            </div>
        </div>
    </div>
	</section>

</div>

<div class="text-center max-w-4xl mx-auto px-4 pt-16 pb-5 text-primary">
	<h2 class="text-3xl md:text-4xl font-bold">
			The Big Highlights
	</h2>
	<p class="text-tertiary text-lg md:text-xl mt-5">
			And honestly, this is just the tip of the iceberg. There's a whole ecosystem of tools inside Dispatch Skool designed to 
      save you hours and land you more carriers on autopilot.
	</p>
</div>


	<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 max-w-6xl mx-auto px-4 pt-16 pb-10 text-primary">
        
		<!-- Carrier Network -->
		<div class="bg-primary p-6 rounded-2xl shadow-md transition-transform duration-300 hover:shadow-lg hover:-translate-y-1 cursor-pointer">
				<i class="fa-solid fa-envelope"></i>
				<h3 class="font-bold text-lg">Attached Unlimited Email Accounts</h3>
				<p class="text-tertiary">Plug in as many inboxes as you want, no limits.</p>
		</div>

		<!-- Nationwide Coverage -->
		<div class="bg-primary p-6 rounded-2xl shadow-md transition-transform duration-300 hover:shadow-lg hover:-translate-y-1 cursor-pointer">
				<i class="fa-solid fa-envelopes-bulk"></i>
				<h3 class="font-bold text-lg">Simultaneous Bulk Campaigns</h3>
				<p class="text-tertiary">Reach more leads at once without getting throttled.</p>
		</div>

		<!-- Time Saving -->
		<div class="bg-primary p-6 rounded-2xl shadow-md transition-transform duration-300 hover:shadow-lg hover:-translate-y-1 cursor-pointer">
			<i class="fa-solid fa-database"></i>
				<h3 class="font-bold text-lg">Built-in carrier Database</h3>
				<p class="text-tertiary">Skip the hunting—tap into our ready-made carrier list.</p>
		</div>

		<!-- Revenue Growth -->
		<div class="bg-primary p-6 rounded-2xl shadow-md transition-transform duration-300 hover:shadow-lg hover:-translate-y-1 cursor-pointer">
				<i class="fa-solid fa-chart-line"></i>
				<h3 class="font-bold text-lg">Open Rate Tracking</h3>
				<p class="text-tertiary">See exactly how many leads are opening your emails in real time.</p>
		</div>

		<!-- Automation Tools -->
		<div class="bg-primary p-6 rounded-2xl shadow-md transition-transform duration-300 hover:shadow-lg hover:-translate-y-1 cursor-pointer">
				<i class="fa-solid fa-fire"></i>
				<h3 class="font-bold text-lg">Auto Email Accounts Warmup</h3>
				<p class="text-tertiary">No more manual warmups—your accounts stay healthy on autopilot.</p>
		</div>

		<!-- Expert Training -->
		<div class="bg-primary p-6 rounded-2xl shadow-md transition-transform duration-300 hover:shadow-lg hover:-translate-y-1 cursor-pointer">
				<i class="fa-solid fa-file-excel"></i>
				<h3 class="font-bold text-lg">Leads data on demand</h3>
				<p class="text-tertiary">Fresh leads, delivered whenever you need them.</p>
		</div>

	</div>

	<div id="how-it-works" class="bg-primary py-16 pb-10 px-5 text-primary">

		<div class="text-center max-w-4xl mx-auto px-4 pt-16 pb-5">
			<h2 class="text-3xl md:text-4xl font-bold">
				How It Works
			</h2>
			<p class="text-tertiary text-lg md:text-xl mt-5">
				Find Carriers as a Dispatcher WITHOUT Cold Calls & Sales Agents
			</p>
		</div>

		<div class="flex flex-col items-center justify-center w-full my-10">
      <div class="w-full max-w-2xl aspect-video">
        <iframe
          class="w-full h-full rounded-xl"
          src="https://www.youtube.com/embed/pGh32BjLiOc"
          title="How to Find Carriers as a Dispatcher WITHOUT Cold Calls & Sales Agents"
          frameborder="0"
          allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
          referrerpolicy="strict-origin-when-cross-origin"> </iframe>
      </div>
    </div>
    
	</div>


	<div class="text-center max-w-4xl mx-auto px-4 mt-20 text-primary">
		<h2 class="text-3xl md:text-4xl font-bold">
			Success Stories
		</h2>
		<p class="text-tertiary text-lg md:text-xl mt-5">
			Join hundreds of successful dispatchers who transformed their business with Dispatch Skool
		</p>
	</div>

	<div class="flex flex-wrap justify-center gap-6 px-6 py-16 text-primary">
    <!-- Testimonial Card 1 -->
    <div class="max-w-sm bg-primary shadow rounded-lg p-6 border border-gray-700 ">
        <div class="flex items-center mb-2">
            <span class="text-yellow-500 text-xl">⭐</span>
            <span class="text-yellow-500 text-xl">⭐</span>
            <span class="text-yellow-500 text-xl">⭐</span>
            <span class="text-yellow-500 text-xl">⭐</span>
            <span class="text-yellow-500 text-xl">⭐</span>
        </div>
        <p class="text-secondary mb-4">
            Hi, hope you're doing well. I got 2 hot leads on the same day. The software is amazing. My decision goes right to get Dispatch Skool's services. Thanks a lot!
        </p>
        <p class="font-bold">Noor Murtaza</p>
        <a href="mailto:carterlogistics2476@gmail.com" class="text-tertiary text-sm text-blue-600 underline">carterlogistics2476@gmail.com</a>
    </div>

    <!-- Testimonial Card 2 -->
    <div class="max-w-sm bg-primary shadow rounded-lg p-6 border border-gray-700 ">
        <div class="flex items-center mb-2">
            <span class="text-yellow-500 text-xl">⭐</span>
            <span class="text-yellow-500 text-xl">⭐</span>
            <span class="text-yellow-500 text-xl">⭐</span>
            <span class="text-yellow-500 text-xl">⭐</span>
            <span class="text-yellow-500 text-xl">⭐</span>
        </div>
        <p class="text-secondary mb-4">
            Brother I've attached 21 emails. And I get 8-10 carrier replies daily!
        </p>
        <p class="font-bold">Mujahid Hafeez</p>
        <a href="mailto:m.hafeez@truckipie.com" class="text-tertiary text-sm text-blue-600 underline">m.hafeez@truckipie.com</a>
    </div>

    <!-- Testimonial Card 3 -->
    <div class="max-w-sm bg-primary shadow rounded-lg p-6 border border-gray-700 ">
        <div class="flex items-center mb-2">
            <span class="text-yellow-500 text-xl">⭐</span>
            <span class="text-yellow-500 text-xl">⭐</span>
            <span class="text-yellow-500 text-xl">⭐</span>
            <span class="text-yellow-500 text-xl">⭐</span>
            <span class="text-yellow-500 text-xl">⭐</span>
        </div>
        <p class="text-secondary mb-4">
            The open rate is working fabulously. I'm scoring above 50% each campaign. Very nice tool 👍
        </p>
        <p class="font-bold">Ahmed Abdullah</p>
        <a href="mailto:ah.abdullah007@gmail.com" class="text-tertiary text-sm text-blue-600 underline">ah.abdullah007@gmail.com</a>
    </div>
	</div>


	<div id="pricing" class="bg-primary py-16 px-5 text-primary">

		<div class="text-center max-w-4xl mx-auto px-4 mt-20">
			<h2 class="text-3xl md:text-4xl font-bold">
				Simple, Transparent Pricing
			</h2>
		</div>

    <div class="flex flex-col items-center justify-center mb-10 mt-6 px-4">
    
      <div class="relative bg-secondary text-secondary border-2 border-green-500/50 rounded-2xl p-6 max-w-4xl w-full text-center overflow-hidden">
          
          <div class="absolute top-0 right-0 bg-red-600 text-white text-xs font-bold px-8 py-1 transform rotate-45 translate-x-8 translate-y-4 shadow-lg">
              50% OFF
          </div>

          <h3 class="text-2xl md:text-3xl font-bold text-secondary mb-2">
              Want to save big? 💰
          </h3>
          <p class="text-tertiary text-lg mb-4">
              Pay for 12 months upfront and cut your bill in half.
          </p>

          <div class="flex items-center justify-center gap-4 text-lg md:text-xl font-mono bg-primary/50 p-3 rounded-lg inline-block border border-gray-700">
              <span class="text-gray-400 line-through decoration-red-500 decoration-2">$672/yr</span>
              <i class="fa-solid fa-arrow-right text-tertiary text-sm"></i>
              <span class="text-green-400 font-bold text-2xl">$336/yr</span>
              <span class="text-xs text-tertiary block mt-1">(Standard Plan Example)</span>
          </div>

          <div class="mt-6">
              <a href="https://wa.me/923201410032?text=Hi,%20I%20am%20interested%20in%20the%20Yearly%20Subscription%20with%2050%25%20OFF" 
                target="_blank" 
                rel="noopener noreferrer" 
                class="inline-flex items-center justify-center gap-2 text-lg font-bold py-3 px-8 rounded-xl bg-gradient-to-r from-green-600 to-green-500 hover:from-green-500 hover:to-green-400 bg-primary btn-bg-primary btn-text shadow-[0_0_20px_rgba(34,197,94,0.4)] transform hover:-translate-y-1 transition-all">
                  <span><i class="fa-brands fa-whatsapp"></i></span> Get Yearly Deal
              </a>
          </div>
          <p class="text-xs text-tertiary mt-3"> *Click to message support for invoice setup</p>
      </div>

    </div>

		<div class="flex flex-col md:flex-row justify-center gap-8 p-8">

			<div class="relative w-full md:w-1/2 bg-primary shadow-lg rounded-2xl p-8 border border-gray-700 text-center">

        <!-- Title -->
        <h2 class="text-2xl font-extrabold">Basic</h2>

        <!-- Price with strike and discount -->
        <div class="relative mt-3 flex flex-col items-center justify-center">
          <span class="text-4xl md:text-5xl font-extrabold text-green-500 -mt-2 z-20">$36/Month</span>
        </div>

        <p class="text-tertiary text-lg mt-2">Everything you need to scale</p>

        <!-- Features -->
        <ul class="text-left my-6 space-y-3 text-lg sm:px-4">
          <li class="flex items-start">
            <span class="text-green-600 mr-2 mt-1">✔</span>
            <span>Attach unlimited email accounts</span>
          </li>
          <li class="flex items-start">
            <span class="text-green-600 mr-2 mt-1">✔</span>
            <span>Send bulk emails using multiple accounts simultaneously</span>
          </li>
          <li class="flex items-start">
            <span class="text-green-600 mr-2 mt-1">✔</span>
            <span>Built-in carrier Database</span>
          </li>
          <li class="flex items-start">
            <span class="text-green-600 mr-2 mt-1">✔</span>
            <span>Daily MC sheets in Excel format</span>
          </li>
          <li class="flex items-start">
            <span class="text-green-600 mr-2 mt-1">✔</span>
            <span>Leads data on demand</span>
          </li>
          <li class="flex items-start">
            <span class="text-green-600 mr-2 mt-1">✔</span>
            <span>Open Rate Tracking</span>
          </li>
        </ul>

        <!-- CTA Button -->
        <a href="https://wa.me/923201410032" target="_blank" rel="noopener noreferrer" class="inline-block text-lg font-semibold py-3 px-14 rounded-xl bg-green-600 hover:bg-green-700 text-white">
            <span><i class="fa-brands fa-whatsapp"></i></span> Contact Now
        </a>

      </div>

      <div class="relative w-full md:w-1/2 bg-primary shadow-lg rounded-2xl p-8 border border-gray-700 text-center">

        <!-- Title -->
        <h2 class="text-2xl font-extrabold">Standard</h2>

        <!-- Price with strike and discount -->
        <div class="relative mt-3 flex flex-col items-center justify-center">
          <span class="text-4xl md:text-5xl font-extrabold text-green-500 -mt-2 z-20">$56/Month</span>
        </div>

        <p class="text-tertiary text-lg mt-2">Everything included in Basic package, plus:</p>

        <!-- Features -->
        <ul class="text-left my-6 space-y-3 text-lg sm:px-4">
          <li class="flex items-start">
            <span class="text-green-600 mr-2 mt-1">✔</span>
            <span>Unified Inboxes</span>
          </li>
          <li class="flex items-start">
            <span class="text-green-600 mr-2 mt-1">✔</span>
            <span>Drip Campaigns</span>
          </li>
          <li class="flex items-start">
            <span class="text-green-600 mr-2 mt-1">✔</span>
            <span>Live FMCSA Scraper</span>
          </li>
          <li class="flex items-start">
            <span class="text-green-600 mr-2 mt-1">✔</span>
            <span>Emails List Verification</span>
          </li>
          <li class="flex items-start">
            <span class="text-green-600 mr-2 mt-1">✔</span>
            <span>Auto Email Accounts Warmup</span>
          </li>
          <li class="flex items-start">
            <span class="text-green-600 mr-2 mt-1">✔</span>
            <span>Verified email addresses with zero bounce rate</span>
          </li>
          <li class="flex items-start">
            <span class="text-green-600 mr-2 mt-1">✔</span>
            <span>Priority Support</span>
          </li>
        </ul>

        <!-- CTA Button -->
        <a href="https://wa.me/923201410032" target="_blank" rel="noopener noreferrer" class="inline-block text-lg font-semibold py-3 px-14 rounded-xl bg-green-600 hover:bg-green-700 text-white">
            <span><i class="fa-brands fa-whatsapp"></i></span> Contact Now
        </a>

      </div>

      <div class="relative w-full md:w-1/2 bg-primary shadow-lg rounded-2xl p-8 border border-gray-700 text-center">

        <!-- Title -->
        <h2 class="text-2xl font-extrabold">Premium</h2>

        <!-- Price with strike and discount -->
        <div class="relative mt-3 flex flex-col items-center justify-center">
          <span class="text-4xl md:text-5xl font-extrabold text-green-500 -mt-2 z-20">$99/Month</span>
        </div>

        <p class="text-tertiary text-lg mt-2">Everything included in Standard package, plus:</p>
        <p class="text-blue-600 text-xl mt-2">Personalised Coaching for Dispatch Companies directly from <span class="font-bold">M. Ahmad Khalid</span></p>

        <!-- Features -->
        <ul class="text-left my-6 space-y-3 text-lg sm:px-4">
          <li class="flex items-start">
            <span class="text-green-600 mr-2 mt-1">✔</span>
            <span>Crafting Email Campaigns</span>
          </li>
          <li class="flex items-start">
            <span class="text-green-600 mr-2 mt-1">✔</span>
            <span>Data Management</span>
          </li>
          <li class="flex items-start">
            <span class="text-green-600 mr-2 mt-1">✔</span>
            <span>Follow up Strategies</span>
          </li>
        </ul>

        
        <a href="http://www.linkedin.com/in/muhammadahmadkhalid-dispatchskool" target="_blank" rel="noopener noreferrer" class="inline-block text-lg font-semibold py-3 mb-5 px-8 rounded-xl bg-blue-500 hover:bg-blue-600 text-white btn-text">
            <span><i class="fa-brands fa-linkedin"></i></span>&nbsp; M. Ahmad Khalid
        </a>
        <a href="https://wa.me/923201410032" target="_blank" rel="noopener noreferrer" class="inline-block text-lg font-semibold py-3 px-14 rounded-xl bg-green-600 hover:bg-green-700 text-white">
            <span><i class="fa-brands fa-whatsapp"></i></span> Contact Now
        </a>

      </div>

      <div class="relative w-full md:w-1/2 bg-primary shadow-lg rounded-2xl p-8 border border-gray-700 text-center">

        <!-- Title -->
        <h2 class="text-2xl font-extrabold">Broker Package</h2>

        <!-- Price with strike and discount -->
        <div class="relative mt-3 flex flex-col items-center justify-center">
          <span class="text-4xl md:text-5xl font-extrabold text-green-500 -mt-2 z-20">$250/Month</span>
        </div>

        <p class="text-tertiary text-lg mt-2">Specifically designed for freight brokers</p> 

        <!-- Features -->
        <ul class="text-left my-6 space-y-3 text-lg sm:px-4">
          <li class="flex items-start">
            <span class="text-green-600 mr-2 mt-1">✔</span>
            <span>Filter carriers by state and trailer type (reefer, dry van, flatbed)</span>
          </li>
          <li class="flex items-start">
            <span class="text-green-600 mr-2 mt-1">✔</span>
            <span>Send load offers to thousands of carriers via email in one click</span>
          </li>
          <li class="flex items-start">
            <span class="text-green-600 mr-2 mt-1">✔</span>
            <span>300,000+ carrier database, updated monthly</span>
          </li>
          <li class="flex items-start">
            <span class="text-green-600 mr-2 mt-1">✔</span>
            <span>Real-time delivery and open tracking</span>
          </li>
          <li class="flex items-start">
            <span class="text-green-600 mr-2 mt-1">✔</span>
            <span>No scraping or manual work required</span>
          </li>
        </ul>
        <a href="https://wa.me/923201410032" target="_blank" rel="noopener noreferrer" class="inline-block text-lg font-semibold py-3 px-14 rounded-xl bg-green-600 hover:bg-green-700 text-white">
            <span><i class="fa-brands fa-whatsapp"></i></span> Contact Now
        </a>

      </div>

		</div>

	</div>

	<div id="contact" class="text-center max-w-4xl mx-auto px-4 pt-20 pb-10 text-primary">
		<h2 class="text-3xl md:text-4xl font-bold">
			Get In Touch
		</h2>
		<p class="text-tertiary text-lg md:text-xl mt-5">
			Have questions? We're here to help you succeed
		</p>
	</div>

	<div class="container max-w-5xl mx-auto px-4 py-8 text-primary">
    <div class="flex flex-col md:flex-row gap-6">
        <!-- Contact Form -->
        <div class="md:w-2/3 w-full">
					<form method="post" class="bg-primary p-6 rounded-lg shadow">
						{% csrf_token %}
				
						<div>
								{{ form.name|add_class:"w-full p-3 border rounded mb-4 focus:ring focus:ring-gray-200 focus:outline-none bg-secondary" }}
						</div>
				
						<div>
								{{ form.email|add_class:"w-full p-3 border rounded mb-4 focus:ring focus:ring-gray-200 focus:outline-none bg-secondary" }}
						</div>
				
						<div>
								{{ form.message|add_class:"w-full p-3 border rounded mb-4 focus:ring focus:ring-gray-200 focus:outline-none bg-secondary" }}
						</div>
				
						<button type="submit" class="w-full btn-bg-primary btn-bg-hover btn-text py-3 rounded">
								Send Message
						</button>
					</form>
					{% if error_message %}
								<div class="p-5 my-3 rounded-xl border-2 border-solid bg-red-200 border-red-700 text-red-700">
										<p class="text-sm">{{ error_message }}</p>
								</div>
					{% endif %}
        </div>
        
        <!-- Contact Information -->
        <div class="md:w-1/3 w-full flex flex-col gap-4">
            <div class="bg-primary p-6 rounded-lg shadow">
                <h2 class="font-bold text-lg mb-2">Contact Information</h2>
                <a href="https://wa.me/923201410032" target="_blank" rel="noopener noreferrer" class="flex hover:underline items-center gap-2 text-green-700 hover:uline-white">
                    <span><i class="fa-brands fa-whatsapp"></i></span> +92 320 1410032
                </a>
                <a href="https://wa.me/923029290482" target="_blank" rel="noopener noreferrer" class="flex hover:underline items-center gap-2 text-green-700 hover:uline-white">
                    <span><i class="fa-brands fa-whatsapp"></i></span> +92 302 9290482
                </a>
            </div>
            <div class="bg-primary p-6 rounded-lg shadow">
                <h2 class="font-bold text-lg mb-2">Business Hours</h2>
                <p class="text-secondary">Monday - Friday: 5 PM - 2 AM PST</p>
                <p class="text-secondary">Weekend support available via email</p>
            </div>
        </div>
    </div>
</div>



{% endblock %}
