{% extends "dshbrd_base.html" %}

{% load static %}
{% load custom_filters %}
{% block 'title' %}Dispatch Skool - Drip Campaign{% endblock %}

{% block 'head' %}
    {{ form.media }}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const form = document.querySelector('form');
            const datetimeInput = document.querySelector('input[name="schedule_launch_datetime"]');
            const timezoneInput = document.createElement('input');
            timezoneInput.type = 'hidden';
            timezoneInput.name = 'user_timezone';
            timezoneInput.value = Intl.DateTimeFormat().resolvedOptions().timeZone || 'Asia/Karachi'; // Fallback
            form.appendChild(timezoneInput);

            if (!form || !datetimeInput) return;
        });
    </script>
{% endblock %}

{% load widget_tweaks %}

{% block 'content' %}

<div class="p-4 sm:ml-72">

	{% if request.user.subscription and request.user.subscription.status == "active" and email_accounts_count < 2 %}

    <div class="text-center max-w-4xl mx-auto px-4 pt-16 pb-5">
      <h2 class="text-3xl md:text-4xl font-bold text-primary">
        Create <span class="text-blue-500">Drip Campaigns</span> seemlessly and shedule your campaigns over the whole week!
      </h2>
    </div>

    <div class="overflow-auto mx-auto p-5 bg-primary max-w-6xl mt-5">
      <p class="text-tertiary text-lg md:text-xl">
          You don't have enough accounts - Don't worry
      </p>
      <p class="text-tertiary text-lg md:text-xl mt-5">
          The <strong>Drip Campaign</strong> feature requires <strong>at least two email accounts</strong> to get started. 
          If you have fewer than two accounts, 
          {% if email_accounts_count == 0 %}
            <a class="text-blue-500 underline" href="{% url 'dashboard:email_account' %}">you can simply create an account</a>
          {% elif email_accounts_count == 1 %}
            you can still use the <strong>regular Launch Campaign</strong> method from 
            the <a class="text-blue-500 underline" href="{% url 'dashboard:index' %}">dashboard</a> 
            or you can <a class="text-blue-500 underline" href="{% url 'dashboard:email_account' %}">create more accounts</a> to use the Drip Campaign Sender.
          {% endif %}
      </p>
    </div>

	{% elif  request.user.subscription and request.user.subscription.status == "active" and email_accounts_count >= 2 %}

		<div class="text-center max-w-4xl mx-auto px-4 p-5">
      
      {% if form.non_field_errors %}
      <div class="bg-red-100 text-red-700 border border-red-300 rounded p-4 my-6 text-lg text-center font-medium">
        {% for error in form.non_field_errors %}
          <p>{{ error }}</p>
        {% endfor %}
      </div>
      {% endif %}
      
		</div>

    <section class="flex flex-col items-center text-center px-4 md:px-4 lg:px-5 py-6">
      <h2 class="text-2xl md:text-3xl font-semibold mt-3 text-green-500">
        {{ leads_count }} LEADS COLLECTED!
      </h2>
    </section>

    <section id="reset-button" class="flex flex-col items-center text-center px-4 md:px-4 lg:px-5 py-6 my-5">
      <h2 class="text-2xl md:text-3xl font-semibold mt-3 text-secondary">
        Reset Leads if you want to start over
      </h2>
      <!-- Reset Button (Initially Hidden) -->
      <a href="{% url 'drip_campaigns:campaign_creator_step1' %}" class="border btn-bg-primary btn-text mt-5 w-72 font-semibold py-3 px-6 rounded-full shadow-lg text-lg">
        Reset Leads 🔁
      </a>  
    </section>

    <!-- Step 2 - Rest of the inputs -->
    <div id="step-2-wrapper">

      <form enctype="multipart/form-data" method="post" id="campaign-step2-form">
        {% csrf_token %}

        {% if campaign_key %}
          <input type="hidden" name="campaign_key" value="{{ campaign_key }}">
        {% endif %}

        {% if form.non_field_errors %}
        <div class="text-red-500 text-sm mb-2">
            {{ form.non_field_errors }}
        </div>
        {% endif %}

        <!-- Email Accounts Select -->
        <section class="flex flex-col items-center text-center px-4 md:px-4 lg:px-5 py-6 mt-20">
          <span class="text-md font-medium text-secondary bg-secondary px-4 py-1 rounded-full">
            Step 2
          </span>
          <h2 class="text-2xl md:text-3xl font-semibold mt-3 text-primary">
            Select Your Email Accounts
          </h2>
          <p class="text-tertiary text-base mt-2">
            Select the email accounts you want to use for this bulk action and the number of leads you want that specific account to target.
          </p>
        </section>

        <div class="container mx-auto px-4 max-w-6xl mb-20">
          <div class="bg-primary border btn-border-hover rounded-lg shadow-md">
            <div class="p-6">
              <h2 class="text-xl font-semibold mb-4 flex items-center justify-between">
                <span class="text-secondary">Select Email Accounts and Assign Lead Counts</span>
                <span id="lead-summary" class="text-red-600 text-sm font-medium ml-4 whitespace-nowrap">
                  Make sure that the number of leads you assign here are equal to the leads you submitted earlier! 
                </span>
              </h2>
              
        
              <div class="overflow-x-auto">
                <!-- Table Starts -->
                <table class="w-full table-auto border border-gray-200 rounded-md overflow-hidden">

                  <thead class="bg-hover-light text-secondary text-sm">

                    <!-- Table Headers -->
                    <tr>
                      <th class="border-t border-b px-4 py-2 text-left">Email Accounts</th>
                      <th class="border-t border-b px-4 py-2 text-left">Leads to Send</th>
                    </tr>

                  </thead>
                
                  <tbody class="text-sm text-primary">
                    <!-- Select All Row -->
                    <tr>
                      <th colspan="2" class="px-4 py-2 text-left">
                        <label class="inline-flex items-center space-x-2">
                          <input
                            type="checkbox"
                            name="select_all"
                            id="select_all_checkbox"
                            class="mr-2 btn-border-hover checkbox-custom rounded-md hover:cursor-pointer"
                            onclick="toggleAllAccounts(this)"
                          >
                          <span class="font-medium text-blue-600 hover:cursor-pointer">
                            Select All Accounts and Auto-Distribute Leads 
                            <span class="text-tertiary">(No need to enter leads for each account)</span>
                          </span>
                        </label>
                      </th>
                    </tr>
                    {% for account in email_accounts %}
                      <tr class="border-b">
                        <td class="px-4 py-2">
                          <label class="flex items-center space-x-2">
                            <input
                              type="checkbox"
                              name="selected_accounts"
                              value="{{ account.id }}"
                              class="account-checkbox checkbox-custom mr-2 btn-border-hover rounded-md hover:cursor-pointer"
                              id="checkbox_{{ account.id }}"
                              onclick="toggleLeadInput({{ account.id }})"
                            >
                            <span class="hover:cursor-pointer">{{ account.email_address }}</span>
                          </label>
                        </td>
                        <td class="px-4 py-2">
                          <input
                            type="number"
                            name="emails_for_account_{{ account.id }}"
                            class="w-full border bg-primary text-primary rounded-lg px-3 py-2 hidden"
                            placeholder="Number of leads to assign to {{ account.email_address }}"
                            min="1"
                            id="lead_input_{{ account.id }}"
                          >
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                
                </table>
                
              </div>
        
            </div>
          </div>
        </div>
        
        <!-- Set Delay -->
        <section class="flex flex-col max-w-2xl mx-auto items-center text-center px-4 md:px-4 lg:px-5 py-6 mt-20">
					<span class="text-md font-medium text-secondary bg-secondary px-4 py-1 rounded-full">
						Step 3
					</span>
					<h2 class="text-2xl md:text-3xl font-semibold mt-3 text-primary">
						Set Delay
					</h2>
					<p class="text-tertiary text-base mt-2">
						Number of seconds to wait <span class="font-bold"> between each email send.</span>  
            The system will select a <span class="font-bold">random value between</span> the minimum and maximum range you specify.  
            This is done to <span class="font-bold">mimic natural human behavior</span> when sending campaigns.
					</p>
				</section>

        <div class="container mx-auto px-4 max-w-2xl mb-20">
          <div class="bg-primary btn-border-hover rounded-lg shadow-md">
        
            <div class="grid grid-cols-1 gap-4 p-6">
              <div>
                {% render_field form.min_delay class="w-full border btn-border-hover rounded-lg px-3 py-2 focus:ring focus:ring-gray-200 focus:outline-none bg-primary text-primary" required="required" %}
                {% if form.min_delay.errors %}
                  <div class="bg-red-200 p-5 my-3 rounded-xl border-2 border-solid border-red-700">
                    <p class="text-red-700 text-sm">{{ form.min_delay.errors|first }}</p>
                  </div>
                {% endif %}
              </div>
              <div>
                {% render_field form.max_delay class="w-full border btn-border-hover rounded-lg px-3 py-2 focus:ring focus:ring-gray-200 focus:outline-none bg-primary text-primary" required="required" %}
                {% if form.max_delay.errors %}
                  <div class="bg-red-200 p-5 my-3 rounded-xl border-2 border-solid border-red-700">
                    <p class="text-red-700 text-sm">{{ form.max_delay.errors|first }}</p>
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>

        <section class="flex flex-col max-w-2xl mx-auto items-center text-center px-4 md:px-4 lg:px-5">
					<span class="text-md font-medium text-secondary bg-secondary px-4 py-1 rounded-full">
						Step 4
					</span>
					<h2 class="text-2xl md:text-3xl font-semibold mt-3 text-primary">
						Schedule The First Template Send
					</h2>
					<p class="text-tertiary text-base my-5">
            Select a <span class="font-bold">future date and time (Pakistan Local Time)</span> to start the <span class="font-bold">Drip Campaign</span>.
          </p>
				</section>

        <div class="container mx-auto px-4 max-w-2xl mb-20">
          <div class="bg-primary rounded-lg shadow-md">
        
            <div class="p-6">
              <div>
                {% render_field form.schedule_launch_datetime class="w-full border rounded-lg px-3 py-2 focus:ring focus:ring-gray-200 focus:outline-none bg-primary text-primary" required="required" %}
                {% if form.schedule_launch_datetime.errors %}
                  <div class="bg-red-200 p-5 my-3 rounded-xl border-2 border-solid border-red-700">
                    <p class="text-red-700 text-sm">{{ form.schedule_launch_datetime.errors|first }}</p>
                  </div>
                {% endif %}
              </div>
            </div>

          </div>
        </div>
        

        <section class="flex flex-col max-w-2xl mx-auto items-center text-center px-4 md:px-4 lg:px-5">
					<span class="text-md font-medium text-secondary bg-secondary px-4 py-1 rounded-full">
						Step 5
					</span>
					<h2 class="text-2xl md:text-3xl font-semibold mt-3 text-primary">
						Set the Delay Between Each Step
					</h2>
					<p class="text-tertiary text-base my-5">
            Select a <span class="font-bold">delay duration</span> for each step in the campaign.
          </p>
				</section>

        <div class="container mx-auto px-4 max-w-2xl mb-20">
          <div class="bg-primary rounded-lg shadow-md">
        
            <div class="p-6">
              <div class="flex space-x-4">

                  <div class="flex-1">
                    {% render_field form.step_delay_hours class="w-full border rounded-lg px-3 py-2 focus:ring focus:ring-gray-200 focus:outline-none bg-primary text-primary" placeholder="Hours" required="required" %}
                    
                    {% if form.step_delay_hours.errors %}
                      <div class="bg-red-200 p-5 my-3 rounded-xl border-2 border-solid border-red-700">
                        <p class="text-red-700 text-sm">{{ form.step_delay_hours.errors|first }}</p>
                      </div>
                    {% endif %}
                  </div>

                  <div class="flex-1">
                    {% render_field form.step_delay_minutes class="w-full border rounded-lg px-3 py-2 focus:ring focus:ring-gray-200 focus:outline-none bg-primary text-primary" placeholder="Minutes" required="required" %}
                    
                    {% if form.step_delay_minutes.errors %}
                      <div class="bg-red-200 p-5 my-3 rounded-xl border-2 border-solid border-red-700">
                        <p class="text-red-700 text-sm">{{ form.step_delay_minutes.errors|first }}</p>
                      </div>
                    {% endif %}
                  </div>

                </div>
            </div>

          </div>
        </div>

        <!-- Launch Button -->
        <section class="flex flex-col items-center text-center px-4 md:px-4 lg:px-5 py-6 my-5">
          <span class="text-md font-medium text-secondary bg-secondary px-4 py-1 rounded-full">
            Step 6
          </span>
          <h2 class="text-2xl md:text-3xl font-semibold mt-3 text-primary">
            Set your Templates and Launch!
          </h2>
        </section>

        <input type="hidden" name="submit_allocation" value="1">

        <div class="container mx-auto px-4 mb-10 text-center">
          <!-- Launch Button -->
          <!-- Error message container above the submit button -->
          <div id="error-message" class="text-red-600 mt-4 hidden text-sm"></div>

          <!-- Submit button -->
          <div id="step-2-submit" class="container mx-auto px-4 mb-10 text-center">
            <div class="mt-6">
              <button type="submit" class="btn-bg-primary btn-bg-hover btn-text font-bold py-3 px-6 rounded-full shadow-lg text-lg">
                Proceed to Templates & Launch Campaign 🚀
              </button>
            </div>
          </div>
        </div>

      </form>

    </div>

		<script>
			function updateFileName(input) {
					const fileName = input.files.length ? input.files[0].name : "No file chosen";
					document.getElementById("file-name").textContent = fileName;
			}
		</script>
    
  {% else %}    

		{% include 'price_base.html' %}

	{% endif %}

	
</div>

  <!-- Assign accounts and leads checkboxes -->
  <script>
    function toggleLeadInput(accountId, forceChecked = null) {
      var checkbox = document.getElementById('checkbox_' + accountId);
      var leadInput = document.getElementById('lead_input_' + accountId);

      // Set the checkbox state if forceChecked is provided
      if (forceChecked !== null) {
        checkbox.checked = forceChecked;
      }

      // Toggle visibility of the lead input based on the checkbox
      if (checkbox.checked) {
        leadInput.classList.remove('hidden');
      } else {
        leadInput.classList.add('hidden');
      }
    }

    function toggleAllAccounts(selectAllCheckbox) {
      const checkboxes = document.querySelectorAll('.account-checkbox');
      const selectAllState = selectAllCheckbox.checked;

      checkboxes.forEach(checkbox => {
        // If enabling "select all", check all accounts
        if (selectAllState) {
          checkbox.checked = true;
          toggleLeadInput(checkbox.value, true);
        } else {
          // If disabling "select all", just reset (hide lead inputs)
          checkbox.checked = false;
          toggleLeadInput(checkbox.value, false);
        }
      });
    }
  </script>

{% endblock %}
