{% load static %}

<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block 'title' %}{% endblock %}</title>

	<script src="https://cdn.tailwindcss.com"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" />
	<script src="https://kit.fontawesome.com/8c9b1142e3.js" crossorigin="anonymous"></script>

</head>

	<body class="bg-slate-50 font-sans">
		
		{% include 'dshbrd_sidebar.html' %}

		{% block 'content' %}{% endblock %}

		{% block 'script' %}{% endblock %}

		<button id="scrollToTopBtn" onclick="scrollToTop()" 
			class="opacity-0 invisible fixed bottom-5 right-5 w-12 h-12 bg-gray-900 text-white flex items-center justify-center rounded-full shadow-lg hover:bg-gray-800 transition-opacity duration-500 ease-in-out">
			<svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
				<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 15l7-7 7 7"></path>
			</svg>
		</button>

		<script>
			const scrollToTopBtn = document.getElementById("scrollToTopBtn");

			window.addEventListener("scroll", () => {
				if (window.scrollY > window.innerHeight) {
					scrollToTopBtn.classList.remove("opacity-0", "invisible");
					scrollToTopBtn.classList.add("opacity-100");
				} else {
					scrollToTopBtn.classList.remove("opacity-100");
					scrollToTopBtn.classList.add("opacity-0", "invisible");
				}
			});

			function scrollToTop() {
				window.scrollTo({ top: 0, behavior: "smooth" });
			}
		</script>


		<script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>

	</body>

</html>