{% extends "base.html" %}

{% load static %}
{% block 'title' %}Dispatch Skool - Under Maintenance{% endblock %}

{% block 'content' %}

  <section class="min-h-screen flex flex-col justify-center items-center text-center px-4 md:px-4 lg:px-5">
    <span class="text-md font-medium text-gray-700 bg-slate-200 px-4 py-1 rounded-full">
      Updates in Progress!
    </span>
    <h1 class="text-6xl md:text-8xl font-bold text-blue-500 lg:py-2">
      Temporarily Offline
    </h1>
    <p class="text-gray-500 text-xl sm:text-2xl md:text-2xl max-w-2xl mt-4">
      We're making some important updates to Dispatch Skool to improve your experience.
      We'll be back online shortly! Thank you for your patience.
    </p>
  </section>

{% endblock %}