{% extends "dshbrd_base.html" %}

{% load static %}
{% block 'title' %}Dispatch Skool - Add Email Account{% endblock %}

{% load widget_tweaks %}

{% block 'content' %}

<div class="p-4 sm:ml-64">

	<div class="max-w-2xl mx-auto mt-5">
    <div id="accordion-collapse" data-accordion="collapse">
				<h2 id="accordion-collapse-heading-1">
					<button type="button" class="flex items-center justify-between w-full p-5 font-medium text-gray-900 bg-white border border-b-0 border-gray-200 rounded-t-xl  gap-3" 
							data-accordion-target="#accordion-collapse-body-1" 
							aria-expanded="true" 
							aria-controls="accordion-collapse-body-1">
							<span class="text-base md:text-xl font-semibold">Provider Instructions</span>
							<svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
									<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
							</svg>
					</button>
				</h2>
		
        <div id="accordion-collapse-body-1" class="hidden" aria-labelledby="accordion-collapse-heading-1">
            <div class="p-5 border border-b-0 border-gray-200">
							<p class="text-gray-500 text-base mb-4 text-center">Follow these provider-specific guides to enter your email credentials securely. Each tab offers step-by-step instructions for popular email providers.</p>
            </div>
						
						<div class="mb-4 border-b border-gray-200">
							<ul class="flex flex-wrap -mb-px text-sm font-medium text-center" id="default-tab" data-tabs-toggle="#default-tab-content" role="tablist">
									<li class="me-2" role="presentation">
											<button class="inline-block p-4 border-b-2 rounded-t-lg" id="profile-tab" data-tabs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Gmail</button>
									</li>
									<li class="me-2" role="presentation">
											<button class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300" id="dashboard-tab" data-tabs-target="#dashboard" type="button" role="tab" aria-controls="dashboard" aria-selected="false">Hostinger</button>
									</li>
									<li class="me-2" role="presentation">
											<button class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300" id="settings-tab" data-tabs-target="#settings" type="button" role="tab" aria-controls="settings" aria-selected="false">Outlook</button>
									</li>
									<li role="presentation">
											<button class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300" id="contacts-tab" data-tabs-target="#contacts" type="button" role="tab" aria-controls="contacts" aria-selected="false">Other</button>
									</li>
							</ul>
							</div>
							<div id="default-tab-content">
									
									<!-- Google -->
									<div class="hidden p-4 rounded-lg bg-gray-50" id="profile" role="tabpanel" aria-labelledby="profile-tab">
										<div class="max-w-2xl mx-auto space-y-4">
											<div class="p-4 bg-white rounded-lg shadow-sm hover:-translate-y-1">
													<div class="flex items-start space-x-3">
															<div>
																	<h3 class="text-lg font-semibold">📩 Access Google Account</h3>
																	<p class="text-sm text-gray-600 pl-5 pt-5">Sign in to your Google account and go to your Google Account settings.</p>
																	<a href="https://myaccount.google.com/" class="text-blue-500 text-sm font-medium hover:underline pl-5">Go to Google Account</a>
															</div>
													</div>
											</div>
									
											<div class="p-4 bg-white rounded-lg shadow-sm hover:-translate-y-1">
													<div class="flex items-start space-x-3">
															<div>
																	<h3 class="text-lg font-semibold">🔑 Generate App Password</h3>
																	<p class="text-sm text-gray-600  pl-5 pt-5"><span class="text-red-700">Your GMAIL account password will not work here!</span> If you use 2-step verification, you'll need to create an App Password specifically for this account.</p>
																	<a href="https://myaccount.google.com/apppasswords" class="text-blue-500 text-sm font-medium hover:underline pl-5">App Passwords</a>
																	
																	<p class="text-sm text-gray-600 pl-5 pt-5">For more details please visit:</p>
																	<a href="https://www.youtube.com/watch?v=lSURGX0JHbA&pp=ygUTZ29vZ2xlIGFwcCBwYXNzd29yZA%3D%3D" class="text-blue-500 text-sm font-medium hover:underline pl-5">How to Generate App Password in Gmail/Google Workspace?</a>
															</div>
													</div>
											</div>
								
											<div class="p-4 bg-white rounded-lg shadow-sm hover:-translate-y-1">
													<div class="flex items-start space-x-3">
															<div>
																	<h3 class="text-lg font-semibold">⚙️ SMTP Port, Server type and other details</h3>
																	<p class="text-sm text-gray-600 pl-5 pt-5">For further details like Outgoing Port, Encryption type and Outgoing Servr Host, please have a look at the docs. Settings for <strong>SMTP, not IMAP</strong> will be applied here.</p>
																	<a href="https://developers.google.com/gmail/imap/imap-smtp#protocol" class="text-blue-500 text-sm font-medium hover:underline pl-5">Protocol</a>
															</div>
													</div>
											</div>
										</div>
									</div>

									<!-- Hostinger -->
									<div class="hidden p-4 rounded-lg bg-gray-50" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
										<div class="max-w-2xl mx-auto space-y-4">
											<div class="p-4 bg-white rounded-lg shadow-sm hover:-translate-y-1">
													<div class="flex items-start space-x-3">
															<div>
																	<h3 class="text-lg font-semibold">🔑 Hostinger Inbox Password</h3>
																	<p class="text-sm text-gray-600 pl-5 pt-5">Your <strong>Inbox password</strong> will be used here as well</p>
															</div>
													</div>
											</div>
									
											<div class="p-4 bg-white rounded-lg shadow-sm hover:-translate-y-1">
													<div class="flex items-start space-x-3">
															<div>
																<h3 class="text-lg font-semibold">⚙️ SMTP Port, Server type and other details</h3>
																<p class="text-sm text-gray-600 pl-5 pt-5">For further details like Outgoing Port, Encryption type and Outgoing Servr Host, please have a look at the docs. Settings for <strong>SMTP (Outgoing)</strong> will be applied here.</p>
																<a href="https://support.hostinger.com/en/articles/4305847-set-up-hostinger-email-on-your-applications-and-devices#step-1---gathering-email-parameters" class="text-blue-500 text-sm font-medium hover:underline pl-5 pt-5">
																	Set up Hostinger email on your applications and devices
																</a>
														</div>
													</div>
											</div>
										</div>
									</div>

									<!-- Outlook -->
									<div class="hidden p-4 rounded-lg bg-gray-50" id="settings" role="tabpanel" aria-labelledby="settings-tab">
										<div class="max-w-2xl mx-auto space-y-4">
											<div class="p-4 bg-white rounded-lg shadow-sm hover:-translate-y-1">
													<div class="flex items-start space-x-3">
															<div>
																	<h3 class="text-lg font-semibold">📩 Access Microsoft Account</h3>
																	<p class="text-sm text-gray-600 pl-5 pt-5">Sign in to your Microsoft account settings.</p>
																	<a href="https://account.microsoft.com/" class="text-blue-500 text-sm font-medium hover:underline pl-5">Go to Microsoft Account</a>
															</div>
													</div>
											</div>
									
											<div class="p-4 bg-white rounded-lg shadow-sm hover:-translate-y-1">
												<div class="flex items-start space-x-3">
														<div>
																<h3 class="text-lg font-semibold">🔑 Generate App Password</h3>
																<p class="text-sm text-gray-600  pl-5 pt-5"><span class="text-red-700">Your Outlook account password will not work here!</span> If you use 2-step verification, you'll need to create an App Password specifically for this account.</p>
																<a href="https://account.live.com/proofs/AppPassword" class="text-blue-500 text-sm font-medium hover:underline pl-5">App Passwords</a>
																
																<p class="text-sm text-gray-600 pl-5 pt-5">For more details please visit:</p>
																<a href="https://www.youtube.com/watch?v=fqimk_W1cgQ&pp=ygUUb3V0bG9vayBhcHAgcGFzc3dvcmQ%3D" class="text-blue-500 text-sm font-medium hover:underline pl-5">How to Generate App Password in Outlook</a>
														</div>
												</div>
											</div>
									
											<div class="p-4 bg-white rounded-lg shadow-sm hover:-translate-y-1">
												<div class="flex items-start space-x-3">
														<div>
															<h3 class="text-lg font-semibold">⚙️ SMTP Port, Server type and other details</h3>
															<p class="text-sm text-gray-600 pl-5 pt-5">For further details like Outgoing Port, Encryption type and Outgoing Servr Host, please have a look at the docs. Settings for <strong>SMTP, not IMAP</strong> will be applied here.</p>
															<a href="https://support.microsoft.com/en-us/office/pop-imap-and-smtp-settings-for-outlook-com-d088b986-291d-42b8-9564-9c414e2aa040" class="text-blue-500 text-sm font-medium hover:underline pl-5 pt-5">
																POP, IMAP, and SMTP settings for Outlook.com
															</a>
													</div>
												</div>
											</div>
										</div>
									</div>

									<!-- Others -->
									<div class="hidden p-4 rounded-lg bg-gray-50" id="contacts" role="tabpanel" aria-labelledby="contacts-tab">
										<div class="max-w-2xl mx-auto space-y-4">
											<div class="p-4 bg-white rounded-lg shadow-sm hover:-translate-y-1">
													<div class="flex items-start space-x-3">
															<div>
																	<h3 class="text-lg font-semibold">📩 Check Provider Documentation</h3>
																	<p class="text-sm text-gray-600 pl-5 pt-5">Most email providers have specific instructions for app passwords or third-party access.</p>
															</div>
													</div>
											</div>
									
											<!-- Enable App Passwords -->
											<div class="p-4 bg-white rounded-lg shadow-sm hover:-translate-y-1">
													<div class="flex items-start space-x-3">
															<div>
																	<h3 class="text-lg font-semibold">🔑 Enable Two-Factor Authentication</h3>
																	<p class="text-sm text-gray-600  pl-5 pt-5">If your provider supports it, enable 2FA for additional security, then generate app passwords for third-party applications.</p>
															</div>
													</div>
											</div>
									
											<!-- Security Settings -->
											<div class="p-4 bg-white rounded-lg shadow-sm hover:-translate-y-1">
													<div class="flex items-start space-x-3">
															<div>
																	<h3 class="text-lg font-semibold">📞 Contact Support</h3>
																	<p class="text-sm text-gray-600 pl-5 pt-5">If you're unable to find the information, <a href="{% url 'main:index' %}#contact"
																		class="text-blue-500 text-sm font-medium hover:underline">contact our support team for assistance.</a></p>
															</div>
													</div>
											</div>
										</div>
									</div>

							</div>
					

        </div>
    </div>
	</div>


	<!-- Form -->
	<div class="flex items-center justify-center my-10">
		<div class="w-full max-w-2xl bg-white shadow-lg rounded-lg p-6">
			
			<div class="pb-5">
				<h2 class="text-2xl md:text-3xl font-semibold mt-1 text-center mb-2">Email Account Details</h2>
				<p class="text-gray-500 text-base mb-4 text-center">Please fill out the following details to register your email account. Please refer tot the <strong>above instructions</strong> depending on <strong>Your Email Provider</strong></p>
			</div>
	
			<form method="post" class="grid grid-cols-1 md:grid-cols-2 gap-4">
				{% csrf_token %}
				
				<!-- Row 1 -->
				<div>
						<label class="block font-medium text-gray-700 mb-3">Email Address</label>
						{% render_field form.email_address class="w-full border border-gray-300 rounded-lg px-3 py-2 focus:ring focus:ring-gray-200 focus:outline-none" placeholder="Enter your email" %}
				</div>
				<div>
					<label class="block font-medium text-gray-700 mb-3">Password</label>
					{% render_field form.decrypted_password class="w-full border border-gray-300 rounded-lg px-3 py-2 focus:ring focus:ring-gray-200 focus:outline-none" placeholder="Enter password" %}
				</div>
		
		
				<!-- Row 3 -->
				<div>
						<label class="block font-medium text-gray-700 mb-3">Email Provider</label>
						{% render_field form.email_provider class="w-full border border-gray-300 rounded-lg px-3 py-2 focus:ring focus:ring-gray-200 focus:outline-none" placeholder="e.g. Goodle, Hostiger, Yahoo etc." %}
				</div>
				<div>
						<label class="block font-medium text-gray-700 mb-3">Outgoing Port</label>
						{% render_field form.port_number class="w-full border border-gray-300 rounded-lg px-3 py-2 focus:ring focus:ring-gray-200 focus:outline-none" placeholder="Your SMTP Port Number" %}
				</div>
		
				<!-- Row 4 -->
				<div class="w-full">
						<label class="block font-medium text-gray-700 mb-3">Encryption</label>
						{% render_field form.server_type class="w-full border border-gray-300 rounded-lg px-3 py-2 focus:ring focus:ring-gray-200 focus:outline-none" %}
				</div>
				<div class="w-full">
						<label class="block font-medium text-gray-700 mb-3">Outgoing Servr Host</label>
						{% render_field form.host class="w-full border border-gray-300 rounded-lg px-3 py-2 focus:ring focus:ring-gray-200 focus:outline-none" placeholder="smtp.example.com" %}
				</div>
		
				<!-- Submit Button -->
				<div class="md:col-span-2">
						<button type="submit" class="w-full bg-gray-900 hover:bg-gray-800 text-white font-medium py-2 rounded-lg">
								Create Account
						</button>
				</div>
		</form>
	
	
		</div>
	</div>

</div>

{% endblock %}