{% extends "dshbrd_base.html" %}

{% load static %}
{% load custom_filters %}
{% block 'title' %}Dispatch Skool - Bulk Campaign{% endblock %}

{% block 'head' %}
    {{ form.media }}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const form = document.querySelector('form');
            const datetimeInput = document.querySelector('input[name="schedule_launch_datetime"]');
            const timezoneInput = document.createElement('input');
            timezoneInput.type = 'hidden';
            timezoneInput.name = 'user_timezone';
            timezoneInput.value = Intl.DateTimeFormat().resolvedOptions().timeZone || 'Asia/Karachi'; // Fallback
            form.appendChild(timezoneInput);

            if (!form || !datetimeInput) return;
        });
    </script>
{% endblock %}

{% load widget_tweaks %}

{% block 'content' %}



<div class="p-4 sm:ml-72">

  {% if messages %}
    <div class="container mx-auto px-4 max-w-6xl my-4">
      {% for message in messages %}
        <div class="p-4 rounded-lg text-center font-medium
                    {% if message.tags == 'success' %} bg-green-100 text-green-800 border border-green-300
                    {% elif message.tags == 'error' %} bg-red-100 text-red-800 border border-red-300
                    {% else %} bg-blue-100 text-blue-800 border border-blue-300
                    {% endif %}"
            role="alert">
          {{ message }}
        </div>
      {% endfor %}
    </div>
  {% endif %}

	{% if request.user.subscription and request.user.subscription.status == "active" and email_accounts_count < 2 %}

    <div class="text-center max-w-4xl mx-auto px-4 pt-16 pb-5">
      <h2 class="text-3xl md:text-4xl font-bold text-primary">
        Create <span class="text-blue-500">One Click Launch Bulk Campaigns</span> seemlessly and deploy all your email accounts at once!
      </h2>
    </div>

    <div class="overflow-auto mx-auto p-5 bg-primary max-w-6xl mt-5">
      <p class="text-tertiary text-lg md:text-xl">
          You don't have enough accounts - Don't worry
      </p>
      <p class="text-tertiary text-lg md:text-xl mt-5">
          The <strong>bulk sender</strong> feature requires <strong>at least two email accounts</strong> to get started. 
          If you have fewer than two accounts, 
          {% if email_accounts_count == 0 %}
            <a class="text-blue-500 underline" href="{% url 'dashboard:email_account' %}">you can simply create an account</a>
          {% elif email_accounts_count == 1 %}
            you can still use the <strong>regular Launch Campaign</strong> method from 
            the <a class="text-blue-500 underline" href="{% url 'dashboard:index' %}">dashboard</a> 
            or you can <a class="text-blue-500 underline" href="{% url 'dashboard:email_account' %}">create more accounts</a> to use the bulk sender.
          {% endif %}
      </p>
    </div>

	{% elif request.user.on_free_trial or request.user.subscription and request.user.subscription.status == "active" and email_accounts_count >= 2 %}

		<div class="text-center max-w-4xl mx-auto px-4 pt-16 pb-5">
			<h2 class="text-3xl md:text-4xl font-bold text-primary">
				Create <span class="text-blue-500">One Click Launch Bulk Campaigns</span> seemlessly and deploy all your email accounts at once!
			</h2>
			<p class="text-tertiary text-lg md:text-xl mt-5">
				Reach your ideal customers by <strong>directly landing in their inbox</strong> — our powerful tool delivers your campaign with <strong>utmost precision and accuracy</strong>,
				maximizing impact while you focus on growing your business.
			</p>

			<div class="p-6 bg-primary rounded-lg shadow-md my-6 text-left">
				<h2 class="text-xl font-semibold text-secondary">How it Works</h2>
		
				<div class="mt-4 p-4 bg-secondary rounded-lg border border-gray-700 shadow-md">
          <ul class="list-disc pl-5 text-secondary">
            <li>Start by uploading your Excel file that contains all your leads or select from the database.</li>
            <li>The system will show you a list of your connected email accounts.</li>
            <li>You choose which email accounts you want to use for the campaign.</li>
            <li>Manually assign how many leads each selected account should handle.</li>
            <li>Once you launch the campaign, all selected accounts will start sending their assigned emails in parallel.</li>
            <li><strong>Pro Tip:</strong> Try to spread leads across multiple accounts to send emails faster and boost your outreach efficiency.</li>
          </ul>                             
				</div>
			</div>

      
    {% if form.non_field_errors %}
    <div class="bg-red-100 text-red-700 border border-red-300 rounded p-4 my-6 text-lg text-center font-medium">
      {% for error in form.non_field_errors %}
        <p>{{ error }}</p>
      {% endfor %}
    </div>
    {% endif %}
		
		</div>

    <!-- Step 1 - Leads Input -->
		<form id="campaign-form" method="post" action="{% url 'dashboard:bulk_campaign' %}" enctype="multipart/form-data" class="">
			{% csrf_token %}
				
      <section class="flex flex-col items-center text-center px-4 md:px-4 lg:px-5 py-6 my-5">
        <span class="text-md font-medium text-secondary bg-secondary px-4 py-1 rounded-full border border-gray-700 shadow-md">
          Step 1
        </span>
        <h2 class="text-2xl md:text-3xl font-semibold mt-3 text-primary">
          Select Lead Source
        </h2>
        <p class="text-tertiary text-base mt-2">
          Choose <strong>One of the two methods,</strong> how you want to source leads for your campaign. Once done, you can proceed to the next step.
        </p>
      </section>
      
      <!-- Choose leads section -->
      <div class="flex flex-col md:flex-row gap-6 w-full max-w-6xl mx-auto">
        <!-- Upload File Box -->
        <div class="w-full md:w-1/2 p-6 bg-primary btn-border-hover rounded-lg shadow-md focus-within:ring-2 focus-within:ring-blue-500">
            <!-- Top Icon -->
            <div class="flex justify-center">
                <div class="w-12 h-12 flex items-center justify-center rounded-full bg-blue-100 text-blue-500">
                    <svg width="80" height="80" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg" transform="rotate(0 0 0)">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M12.4214 21.9991C17.9437 21.9991 22.421 17.5224 22.421 12C22.421 6.47766 17.9437 2.00098 12.4214 2.00098C6.89916 2.00098 2.42188 6.47766 2.42188 12C2.42188 17.5224 6.89916 21.9991 12.4214 21.9991ZM12.4209 16.1902C12.0067 16.1902 11.6709 15.8544 11.6709 15.4402L11.6709 11.9612L9.77013 11.9612C9.46674 11.9612 9.19323 11.7784 9.07717 11.4981C8.96112 11.2178 9.02538 10.8952 9.23999 10.6807L11.8539 8.06865C11.9914 7.90994 12.1944 7.80955 12.4209 7.80955C12.6347 7.80955 12.8276 7.89902 12.9643 8.04256L15.6041 10.6807C15.8187 10.8952 15.883 11.2178 15.7669 11.4981C15.6509 11.7784 15.3773 11.9612 15.074 11.9612H13.1709L13.1709 15.4402C13.1709 15.8544 12.8351 16.1902 12.4209 16.1902Z" fill="#343C54"/>
                    </svg>
                </div>
            </div>

            <!-- Title & Description -->
            <div class="mt-4 text-center">
                <h2 class="text-lg font-medium text-secondary">Upload Leads File</h2>
                
                <p class="text-sm text-yellow-700 py-2">
                    To maintain high deliverability and <strong>avoid spam filters</strong>, we recommend 
                    uploading up to <strong>300 leads</strong> per account. 
                    Supported formats: <strong>XLSX and CSV</strong>.
                </p>
                
                <p class="text-sm text-red-700 py-2">
                    Your file <strong>MUST</strong> include an <strong>Email</strong> column. 
                    Additional columns (e.g., <strong>Legal Name</strong>, <strong>MC Number</strong>) 
                    will be automatically mapped for personalization.
                </p>
            </div>

            <!-- Upload Box -->
            <label id="verif-drop-area" class="mt-4 flex flex-col items-center justify-center w-full border-2 border-dashed btn-border-hover rounded-lg py-6 cursor-pointer hover:border-gray-400 focus-within:ring-2 focus-within:ring-blue-500">
              {{ form.file_upload|attr:"class:hidden" |attr:"onchange:updateFileName(this)" }}
              
              <div class="flex flex-col items-center space-y-2">
                  <p class="text-sm font-medium text-primary">Click to upload or drag and drop</p>
                  <p class="text-xs text-secondary">XLSX or CSV (max 10MB)</p>
                  <p id="file-name" class="text-sm text-tertiary"></p> <!-- Display file name -->
              </div>
            </label>
            {% if form.file_upload.errors %}
                <div class="bg-red-200 p-5 my-3 rounded-xl border-2 border-solid border-red-700"><p class="text-red-700 text-sm">{{ form.file_upload.errors.0 }}</p></div>
            {% endif %}
        </div>

        <!-- Use Database Box -->
        <div class="w-full md:w-1/2 p-6 bg-primary btn-border-hover rounded-lg shadow-md">
            <!-- Centered Icon -->
            <div class="flex justify-center">
                <div class="w-12 h-12 flex items-center justify-center rounded-full bg-blue-100 text-blue-500">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M19.5 18.75C19.5 19.3904 19.147 19.9079 18.7136 20.2874C18.2788 20.6681 17.6928 20.9769 17.0335 21.2211C15.7089 21.7116 13.9292 22 12 22C10.0708 22 8.29107 21.7116 6.96654 21.2211C6.30718 20.9769 5.7212 20.6681 5.28636 20.2874C4.853 19.9079 4.5 19.3904 4.5 18.75V16.423C4.54246 16.4636 4.58508 16.5025 4.62758 16.5397C5.18674 17.0293 5.895 17.3906 6.61923 17.6588C8.08111 18.2003 9.98384 18.5 12 18.5C14.0162 18.5 15.9189 18.2003 17.3808 17.6588C18.105 17.3906 18.8133 17.0293 19.3724 16.5397C19.4149 16.5025 19.4575 16.4636 19.5 16.423V18.75Z" fill="#323544"/>
                    <path d="M19.5 14.25V11.923C19.4575 11.9636 19.4149 12.0025 19.3724 12.0397C18.8133 12.5293 18.105 12.8906 17.3808 13.1588C15.9189 13.7003 14.0162 14 12 14C9.98384 14 8.08111 13.7003 6.61923 13.1588C5.895 12.8906 5.18674 12.5293 4.62758 12.0397C4.58508 12.0025 4.54246 11.9636 4.5 11.923V14.25C4.5 14.8904 4.853 15.4079 5.28636 15.7874C5.7212 16.1681 6.30718 16.4769 6.96654 16.7211C8.29107 17.2116 10.0708 17.5 12 17.5C13.9292 17.5 15.7089 17.2116 17.0335 16.7211C17.6928 16.4769 18.2788 16.1681 18.7136 15.7874C19.147 15.4079 19.5 14.8904 19.5 14.25Z" fill="#323544"/>
                    <path d="M4.5 9.75C4.5 10.3904 4.853 10.9079 5.28636 11.2874C5.7212 11.6681 6.30718 11.9769 6.96654 12.2211C8.29107 12.7116 10.0708 13 12 13C13.9292 13 15.7089 12.7116 17.0335 12.2211C17.6928 11.9769 18.2788 11.6681 18.7136 11.2874C19.147 10.9079 19.5 10.3904 19.5 9.75V7.42305C19.4575 7.4636 19.4149 7.50248 19.3724 7.5397C18.8133 8.02933 18.105 8.39059 17.3808 8.65883C15.9189 9.20027 14.0162 9.5 12 9.5C9.98384 9.5 8.08111 9.20027 6.61923 8.65883C5.895 8.39059 5.18674 8.02933 4.62758 7.5397C4.58508 7.50248 4.54246 7.4636 4.5 7.42305V9.75Z" fill="#323544"/>
                    <path d="M4.5 5.25C4.5 5.89042 4.853 6.40788 5.28636 6.78736C5.7212 7.16813 6.30718 7.47687 6.96654 7.72108C8.29107 8.21164 10.0708 8.5 12 8.5C13.9292 8.5 15.7089 8.21164 17.0335 7.72108C17.6928 7.47687 18.2788 7.16813 18.7136 6.78736C19.147 6.40788 19.5 5.89042 19.5 5.25C19.5 4.60958 19.147 4.09212 18.7136 3.71264C18.2788 3.33187 17.6928 3.02313 17.0335 2.77892C15.7089 2.28836 13.9292 2 12 2C10.0708 2 8.29107 2.28836 6.96654 2.77892C6.30718 3.02313 5.7212 3.33187 5.28636 3.71264C4.853 4.09212 4.5 4.60958 4.5 5.25Z" fill="#323544"/>
                    </svg>
                </div>
            </div>

            <!-- Centered Title & Description -->
							<div class="text-center mt-3">
									<h2 class="text-lg font-medium text-secondary">Use Database</h2>
									<p class="text-sm text-tertiary mt-5">Simply select the <span class="font-bold">starting MC Number</span> to filter your target carriers. Our system will automatically gather the <span class="font-bold">neighboring leads</span> required, as per you entered into the <span class="font-bold">targets count</span>. Ensuring <span class="font-bold">precise and efficient campaign delivery</span>.</p>
									<p class="text-sm text-green-600 py-2">Efficiently find your ideal carrier profiles by selecting and <span class="font-bold">applying filters</span> in our database, populated with data directly from the FMCSA.</p>
							</div>

							<button 
                id="open-modal-btn" 
                type="button" 
                class="mt-4 flex flex-col items-center justify-center w-full border-2 border-dashed btn-border-hover rounded-lg py-10 cursor-pointer hover:border-gray-400"
                aria-controls="selectFromDbModal" aria-haspopup="dialog"
            >
                <div class="flex flex-col items-center space-y-20">
                    <p class="text-sm font-medium text-primary">Select from Database</p>
                </div>
              </button>

            <!-- Modal backdrop and container -->
            <div
                id="selectFromDbModal" 
                tabindex="-1" 
                aria-hidden="true" 
                class="fixed inset-0 z-50 hidden overflow-y-auto bg-black bg-opacity-50 flex items-center justify-center">
              <div 
                  class="relative w-full max-w-4xl p-6 mx-auto bg-primary rounded-lg shadow-lg"
                  role="dialog" aria-modal="true" aria-labelledby="modal-title"
                  style="max-height: 95vh; overflow-y: auto;">
                <!-- Close button -->
                <button 
                    type="button" 
                    class="absolute top-3 right-3 text-secondary hover:text-primary focus:outline-none"
                    id="modal-close-btn"
                    aria-label="Close modal">
                    <svg class="w-6 h-6" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round">
                      <line x1="18" y1="6" x2="6" y2="18"></line>
                      <line x1="6" y1="6" x2="18" y2="18"></line>
                    </svg>
                </button>

                <!-- Modal content (form fields) -->
                <div>
                  <!-- Input Fields -->
                  <div class="py-4">
                    <div>
                      <!-- Basic package users don't have access to database -->
                      {% if request.user.eligible_for_db %}

                        <div class="relative inline-flex items-center justify-center w-full">
                          <h2 class="text-base md:text-lg font-semibold my-6 text-blue-600">
                            Please select one of the two methods below
                          </h2>
                        </div>

                        <div class="grid md:grid-cols-2 md:gap-x-6">
                          <div>
                            <label class="block text-sm font-medium text-secondary">Starting MC Number</label>
                            {{ form.mc_number|add_class:"mt-1 block w-full p-3 border focus:ring-gray-500 focus:border-gray-500 rounded-lg outline-none text-primary bg-primary" }}
                          </div>

                          <div>
                            <label class="block text-sm font-medium text-secondary">Targets Count</label>
                            {{ form.targets_count|add_class:"mt-1 block w-full p-3 border focus:ring-gray-500 focus:border-gray-500 rounded-lg outline-none text-primary bg-primary" }}
                            {% if form.targets_count.errors %}
                              <div class="bg-red-200 p-5 my-3 rounded-xl border-2 border-solid border-red-700"><p class="text-red-700 text-sm">{{ form.targets_count.errors.0 }}</p></div>
                            {% endif %}
                          </div>
                        </div>

                        <div class="relative inline-flex items-center justify-center w-full">
                          <h2 class="text-base md:text-base my-6 text-blue-600">
                            Or select a range of MC numbers so that the leads will be collected in that range
                          </h2>
                        </div>

                        <div class="grid md:grid-cols-2 md:gap-x-6">
                          <div>
                            <label class="block text-sm font-medium text-secondary">Lower Limit of MC Number</label>
                            {{ form.lower_limit_mc_number|add_class:"mt-1 block w-full p-3 border focus:ring-gray-500 focus:border-gray-500 rounded-lg outline-none text-primary bg-primary" }}
                          </div>

                          <div>
                            <label class="block text-sm font-medium text-secondary">Upper Limit of MC Number</label>
                            {{ form.upper_limit_mc_number|add_class:"mt-1 block w-full p-3 border focus:ring-gray-500 focus:border-gray-500 rounded-lg outline-none text-primary bg-primary" }}
                          </div>
                        </div>

                        <div class="mt-6">
                          <label for="skip-mc-numbers-input" class="block text-sm font-medium text-secondary mb-2">
                            Skip These MC Numbers (Optional)
                          </label>
                          {{ form.skip_mc_numbers|add_class:"w-full" }}
                          <p class="text-sm text-tertiary mt-1 text-yellow-600">Type an MC Number like "MC 1234567" and press Enter to add. Click x to remove.</p>
                          {% if form.skip_mc_numbers.errors %}
                            <div class="bg-red-200 p-5 my-3 rounded-xl border-2 border-solid border-red-700">
                              <p class="text-red-700 text-sm">{{ form.skip_mc_numbers.errors.0 }}</p>
                            </div>
                          {% endif %}
                        </div>

                        <div class="relative inline-flex items-center justify-center w-full">
                          <h2 class="text-base md:text-lg font-semibold my-6 text-blue-600">
                            Available Filters
                          </h2>
                        </div>


                        <div class="grid md:grid-cols-2 md:gap-x-6">
                          <div>
                            <label class="block text-sm font-medium text-secondary">Power Units (Comparison)</label>
                            {{ form.power_units_comparison|add_class:"mt-1 block w-full p-3 border focus:ring-gray-500 focus:border-gray-500 rounded-lg outline-none text-primary bg-primary" }}
                          </div>
                          <div>
                            <label class="block text-sm font-medium text-secondary">Power Units (Value)</label>
                            {{ form.power_units_value|add_class:"mt-1 block w-full p-3 border focus:ring-gray-500 focus:border-gray-500 rounded-lg outline-none text-primary bg-primary" }}
                            {% if form.power_units_value.errors %}
                              <div class="bg-red-200 p-5 my-3 rounded-xl border-2 border-solid border-red-700">
                                <p class="text-red-700 text-sm">{{ form.power_units_value.errors.0 }}</p>
                              </div>
                            {% endif %}
                          </div>

                          <div>
                            <label class="block text-sm font-medium text-secondary mt-5">Drivers (Comparison)</label>
                            {{ form.drivers_comparison|add_class:"mt-1 block w-full p-3 border focus:ring-gray-500 focus:border-gray-500 rounded-lg outline-none text-primary bg-primary" }}
                          </div>
                          <div>
                            <label class="block text-sm font-medium text-secondary mt-5">Drivers (Value)</label>
                            {{ form.drivers_value|add_class:"mt-1 block w-full p-3 border focus:ring-gray-500 focus:border-gray-500 rounded-lg outline-none text-primary bg-primary" }}
                            {% if form.drivers_value.errors %}
                              <div class="bg-red-200 p-5 my-3 rounded-xl border-2 border-solid border-red-700">
                                <p class="text-red-700 text-sm">{{ form.drivers_value.errors.0 }}</p>
                              </div>
                            {% endif %}
                          </div>

                          <div>
                            <label class="block text-sm font-medium text-secondary mt-5">Status</label>
                            {{ form.status|add_class:"mt-1 block w-full p-3 border focus:ring-gray-500 focus:border-gray-500 rounded-lg outline-none text-primary bg-primary" }}
                          </div>
                          <div>
                            <label class="block text-sm font-medium text-secondary mt-5">Carrier Operation</label>
                            {{ form.carrier_operation|add_class:"mt-1 block w-full p-3 border focus:ring-gray-500 focus:border-gray-500 rounded-lg outline-none text-primary bg-primary" }}
                          </div></div>

                          <div class="grid md:grid-cols-2 md:gap-x-6 my-5">
                            <div>
                              <label class="block text-sm font-medium text-secondary">Cargo Classification</label>
                              {{ form.cargo_classification_search|add_class:"w-full"|attr:"id:id_cargo_classification_search" }}
                              
                              <p class="text-sm text-tertiary mt-1 text-yellow-600">Type your choice and press Enter to add. Click x to remove.</p>
                              <p class="text-sm text-primary my-4">
                                You can simply <span class="font-bold">copy, paste</span> from the following examples:
                              </p>
                              <div class="mt-2 flex flex-wrap gap-2 text-xs font-medium">
                                <span class="px-2 py-1 bg-primary btn-border-hover rounded-md text-primary bg-tertiary">GENERAL FREIGHT</span>
                                <span class="px-2 py-1 bg-primary btn-border-hover rounded-md text-primary bg-tertiary">MOTOR VEHICLES</span>
                                <span class="px-2 py-1 bg-primary btn-border-hover rounded-md text-primary bg-tertiary">METAL; SHEETS, COILS, ROLLS</span>
                                <span class="px-2 py-1 bg-primary btn-border-hover rounded-md text-primary bg-tertiary">MACHINERY, LARGE OBJECTS</span>
                                <span class="px-2 py-1 bg-primary btn-border-hover rounded-md text-primary bg-tertiary">FRESH PRODUCE</span>
                                <span class="px-2 py-1 bg-primary btn-border-hover rounded-md text-primary bg-tertiary">REFRIGERATED FOOD</span>
                                <span class="px-2 py-1">etc.</span>
                              </div>
                            </div>

                            <div>
                              <label class="block text-sm font-medium text-secondary">Cargo Info</label>
                              {{ form.cargo_info_search|add_class:"w-full"|attr:"id:id_cargo_info_search" }}

                              <p class="text-sm text-tertiary mt-1 text-yellow-600">Type your choice and press Enter to add. Click x to remove.</p>
                              <p class="text-sm text-primary my-4">
                                You can simply <span class="font-bold">copy, paste</span> from the following examples:
                              </p>
                              <div class="mt-2 flex flex-wrap gap-2 text-xs font-medium">
                                <span class="px-2 py-1 bg-primary btn-border-hover rounded-md text-primary bg-tertiary">Straight Trucks</span>
                                <span class="px-2 py-1 bg-primary btn-border-hover rounded-md text-primary bg-tertiary">Trailers</span>
                                <span class="px-2 py-1 bg-primary btn-border-hover rounded-md text-primary bg-tertiary">Truck Tractors</span>
                                <span class="px-2 py-1 bg-primary btn-border-hover rounded-md text-primary bg-tertiary">Van</span>
                                <span class="px-2 py-1 bg-primary btn-border-hover rounded-md text-primary bg-tertiary">Limousine</span>
                                <span class="px-2 py-1 bg-primary btn-border-hover rounded-md text-primary bg-tertiary">Mini-Bus</span>
                                <span class="px-2 py-1 bg-primary btn-border-hover rounded-md text-primary bg-tertiary">Motor Coach</span>
                                <span class="px-2 py-1 bg-primary btn-border-hover rounded-md text-primary bg-tertiary">Hazmat Cargo Tank Trailers</span>
                                <span class="px-2 py-1 bg-primary btn-border-hover rounded-md text-primary bg-tertiary">Hazmat Cargo Tank Trucks</span>
                                <span class="px-2 py-1">etc.</span>
                              </div>

                            </div>
                          </div>

                          <div class="mx-auto text-center max-w-full mt-5">
                            <button 
                              type="button"
                              class="text-lg font-semibold btn-bg-primary btn-bg-hover btn-text py-2 px-4 rounded-full shadow-lg "
                              onclick="document.getElementById('selectFromDbModal').classList.add('hidden')"
                            >
                              Confirm Selection
                            </button>
                          </div>

                      {% else %}
                        <p class="text-sm text-red-600"><strong>Exclusive to "Standard" subscribers or higher</strong> — unlock this powerful feature and stay ahead</p>
                      {% endif %}

                      {% if form.mc_number.errors %}
                        <div class="bg-red-200 p-5 my-3 rounded-xl border-2 border-solid border-red-700"><p class="text-red-700 text-sm">{{ form.mc_number.errors.0 }}</p></div>
                      {% endif %}
                    </div>
                  </div>

                </div>
              </div>
            </div>
        </div>
      </div>

      <div class="container mx-auto px-4 mb-10 text-center">
        <!-- Launch Button -->
        <div class="mt-6">
            <button type="submit"  name="submit_leads" class="btn-bg-primary btn-bg-hover btn-text font-semibold py-3 px-6 rounded-full shadow-lg text-lg">
                Submit Leads
            </button>
        </div>
      </div>

		</form>

		<script>
			function updateFileName(input) {
					const fileName = input.files.length ? input.files[0].name : "No file chosen";
					document.getElementById("file-name").textContent = fileName;
			}
		</script>
    
  {% else %}    

		{% include 'price_base.html' %}

	{% endif %}

	
</div>

  <!-- Select from DB -->
  <script>
    const openModalBtn = document.getElementById('open-modal-btn');
    const modal = document.getElementById('selectFromDbModal');
    const closeModalBtn = document.getElementById('modal-close-btn');

    // Open modal on button click
    openModalBtn.addEventListener('click', () => {
      modal.classList.remove('hidden');
    });

    // Close modal on close button click
    closeModalBtn.addEventListener('click', () => {
      modal.classList.add('hidden');
    });

    // Close modal on click outside modal content
    modal.addEventListener('click', (e) => {
      if (e.target === modal) {
        modal.classList.add('hidden');
      }
    });

    // Optional: close modal on ESC key press
    document.addEventListener('keydown', (e) => {
      if (e.key === 'Escape' && !modal.classList.contains('hidden')) {
        modal.classList.add('hidden');
      }
    });
  </script>

  <!-- Tagify Script -->
  <script>
    document.addEventListener("DOMContentLoaded", function () {
        const skipMcInput = document.getElementById('skip-mc-numbers-input');
        new Tagify(skipMcInput, {
            enforceWhitelist: false,
            dropdown: {
                enabled: 0
            }
        });

        const cargoClassificationInput = document.getElementById('id_cargo_classification_search');
        new Tagify(cargoClassificationInput, {
            enforceWhitelist: false,
            dropdown: {
                enabled: 0
            }
        });

        const cargoInfoInput = document.getElementById('id_cargo_info_search');
        new Tagify(cargoInfoInput, {
            enforceWhitelist: false,
            dropdown: {
                enabled: 0
            }
        });
    });
  </script>

  <!-- Upload drag and drop -->

  <script>
    const dropArea = document.getElementById('verif-drop-area');
    const fileInput = dropArea.querySelector('input[type="file"]'); // hidden input inside label
    const fileNameDisplay = document.getElementById('file-name');

    // Prevent default drag behaviors
    ['dragenter', 'dragover', 'dragleave', 'drop'].forEach(eventName => {
        dropArea.addEventListener(eventName, e => {
            e.preventDefault();
            e.stopPropagation();
        });
    });

    // Add blue border on dragover
    dropArea.addEventListener('dragenter', () => dropArea.classList.add('border-blue-500'));
    dropArea.addEventListener('dragover', () => dropArea.classList.add('border-blue-500'));
    dropArea.addEventListener('dragleave', () => dropArea.classList.remove('border-blue-500'));
    dropArea.addEventListener('drop', () => dropArea.classList.remove('border-blue-500'));

    // Handle dropped files
    dropArea.addEventListener('drop', e => {
        const files = e.dataTransfer.files;
        if (files.length) {
            fileInput.files = files; // populate hidden input
            updateFileName(fileInput);
        }
    });

    // Update file name display
    function updateFileName(input) {
        const file = input.files[0];
        if (file) {
            fileNameDisplay.textContent = file.name;
        } else {
            fileNameDisplay.textContent = '';
        }
    }
  </script>


{% endblock %}