{% extends "dshbrd_base.html" %}

{% load static %}
{% load custom_filters %}
{% block 'title' %}Dispatch Skool - Bulk Campaign{% endblock %}

{% block 'head' %}
    {{ form.media }}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const form = document.querySelector('form');
            const datetimeInput = document.querySelector('input[name="schedule_launch_datetime"]');
            const timezoneInput = document.createElement('input');
            timezoneInput.type = 'hidden';
            timezoneInput.name = 'user_timezone';
            timezoneInput.value = Intl.DateTimeFormat().resolvedOptions().timeZone || 'Asia/Karachi'; // Fallback
            form.appendChild(timezoneInput);

            if (!form || !datetimeInput) return;
        });
    </script>
{% endblock %}

{% load widget_tweaks %}

{% block 'content' %}

<div class="p-4 sm:ml-72">

	{% if request.user.subscription and request.user.subscription.status == "active" and email_accounts_count < 2 %}

    <div class="text-center max-w-4xl mx-auto px-4 pt-16 pb-5">
      <h2 class="text-3xl md:text-4xl font-bold text-primary">
        Create <span class="text-blue-500">One Click Launch Bulk Campaigns</span> seemlessly and deploy all your email accounts at once!
      </h2>
    </div>

    <div class="overflow-auto mx-auto p-5 bg-primary max-w-6xl mt-5">
      <p class="text-tertiary text-lg md:text-xl">
          You don't have enough accounts - Don't worry
      </p>
      <p class="text-tertiary text-lg md:text-xl mt-5">
          The <strong>bulk sender</strong> feature requires <strong>at least two email accounts</strong> to get started. 
          If you have fewer than two accounts, 
          {% if email_accounts_count == 0 %}
            <a class="text-blue-500 underline" href="{% url 'dashboard:email_account' %}">you can simply create an account</a>
          {% elif email_accounts_count == 1 %}
            you can still use the <strong>regular Launch Campaign</strong> method from 
            the <a class="text-blue-500 underline" href="{% url 'dashboard:index' %}">dashboard</a> 
            or you can <a class="text-blue-500 underline" href="{% url 'dashboard:email_account' %}">create more accounts</a> to use the bulk sender.
          {% endif %}
      </p>
    </div>

	{% elif  request.user.subscription and request.user.subscription.status == "active" and email_accounts_count >= 2 %}

		<div class="text-center max-w-4xl mx-auto px-4 pt-16 pb-5">
			<h2 class="text-3xl md:text-4xl font-bold text-primary">
				Create <span class="text-blue-500">One Click Launch Bulk Campaigns</span> seemlessly and deploy all your email accounts at once!
			</h2>
			<p class="text-tertiary text-lg md:text-xl mt-5">
				Reach your ideal customers by <strong>directly landing in their inbox</strong> — our powerful tool delivers your campaign with <strong>utmost precision and accuracy</strong>,
				maximizing impact while you focus on growing your business.
			</p>

			<div class="p-6 bg-primary rounded-lg shadow-md my-6 text-left">
				<h2 class="text-xl font-semibold text-secondary">How it Works</h2>
		
				<div class="mt-4 p-4 bg-secondary rounded-lg">
          <ul class="list-disc pl-5 text-secondary">
            <li>Start by uploading your Excel file that contains all your leads or select from the database.</li>
            <li>The system will show you a list of your connected email accounts.</li>
            <li>You choose which email accounts you want to use for the campaign.</li>
            <li>Manually assign how many leads each selected account should handle.</li>
            <li>Once you launch the campaign, all selected accounts will start sending their assigned emails in parallel.</li>
            <li><strong>Pro Tip:</strong> Try to spread leads across multiple accounts to send emails faster and boost your outreach efficiency.</li>
          </ul>                             
				</div>
			</div>

      
    {% if form.non_field_errors %}
    <div class="bg-red-100 text-red-700 border border-red-300 rounded p-4 my-6 text-lg text-center font-medium">
      {% for error in form.non_field_errors %}
        <p>{{ error }}</p>
      {% endfor %}
    </div>
    {% endif %}
		
		</div>

    <!-- Step 1 - Leads Input -->
		<form id="campaign-form" method="post" action="{% url 'dashboard:bulk_campaign' %}" enctype="multipart/form-data" class="">
			{% csrf_token %}
				
      <section class="flex flex-col items-center text-center px-4 md:px-4 lg:px-5 py-6 my-5">
        <span class="text-md font-medium text-secondary bg-secondary px-4 py-1 rounded-full">
          Step 1
        </span>
        <h2 class="text-2xl md:text-3xl font-semibold mt-3 text-primary">
          Select Lead Source
        </h2>
        <p class="text-tertiary text-base mt-2">
          Choose <strong>One of the two methods,</strong> how you want to source leads for your campaign. Once done, you can proceed to the next step.
        </p>
      </section>
      
      <!-- Choose leads section -->
      <div class="flex flex-col md:flex-row gap-6 w-full max-w-6xl mx-auto">
        <!-- Upload File Box -->
        <div class="w-full md:w-1/2 p-6 bg-primary btn-border-hover rounded-lg shadow-md focus-within:ring-2 focus-within:ring-blue-500">
            <!-- Top Icon -->
            <div class="flex justify-center">
                <div class="w-12 h-12 flex items-center justify-center rounded-full bg-blue-100 text-blue-500">
                    <i class="fa-solid fa-arrow-up-from-bracket"></i>
                </div>
            </div>

            <!-- Title & Description -->
            <div class="mt-4 text-center">
                <h2 class="text-lg font-medium text-secondary">Upload Excel File</h2>
                <p class="text-sm text-tertiary py-2">It is recommended that your sheet has upto <strong>300 leads per acccount</strong> only, as it'll help you to <strong>avoid spam</strong>. It should be <strong>only XLSX file.</strong> Support for other formats will be provided later, thank you for cooperation.</p>
                <p class="text-sm text-red-700 py-2">
                    Your file <strong>MUST HAVE</strong> at least an <strong>Email</strong> column. 
                    All other columns (like <strong>Name</strong>, <strong>MC Number</strong>, etc.) 
                    are optional and can be used for personalization if present.
                </p>
            </div>

            <!-- Upload Box -->
            <label class="mt-4 flex flex-col items-center justify-center w-full border-2 border-dashed btn-border-hover rounded-lg py-6 cursor-pointer hover:border-gray-400 focus-within:ring-2 focus-within:ring-blue-500">
              {{ form.file_upload|attr:"class:hidden" |attr:"onchange:updateFileName(this)" }}
              
              <div class="flex flex-col items-center space-y-2">
                  <p class="text-sm font-medium text-primary">Click to upload or drag and drop</p>
                  <p class="text-xs text-secondary">XLSX (max 10MB)</p>
                  <p id="file-name" class="text-sm text-tertiary"></p> <!-- Display file name -->
              </div>
            </label>
            {% if form.file_upload.errors %}
                <div class="bg-red-200 p-5 my-3 rounded-xl border-2 border-solid border-red-700"><p class="text-red-700 text-sm">{{ form.file_upload.errors.0 }}</p></div>
            {% endif %}
        </div>

        <!-- Use Database Box -->
        <div class="w-full md:w-1/2 p-6 bg-primary btn-border-hover rounded-lg shadow-md">
            <!-- Centered Icon -->
            <div class="flex justify-center">
                <div class="w-12 h-12 flex items-center justify-center rounded-full bg-blue-100 text-blue-500">
                    <i class="fa-solid fa-database"></i>
                </div>
            </div>

            <!-- Centered Title & Description -->
							<div class="text-center mt-3">
									<h2 class="text-lg font-medium text-secondary">Use Database</h2>
									<p class="text-sm text-tertiary mt-5">Simply select the <span class="font-bold">starting MC Number</span> to filter your target carriers. Our system will automatically gather the <span class="font-bold">neighboring leads</span> required, as per you entered into the <span class="font-bold">targets count</span>. Ensuring <span class="font-bold">precise and efficient campaign delivery</span>.</p>
									<p class="text-sm text-green-600 py-2">Efficiently find your ideal carrier profiles by selecting and <span class="font-bold">applying filters</span> in our database, populated with data directly from the FMCSA.</p>
							</div>

							<button 
                id="open-modal-btn" 
                type="button" 
                class="mt-4 flex flex-col items-center justify-center w-full border-2 border-dashed btn-border-hover rounded-lg py-10 cursor-pointer hover:border-gray-400"
                aria-controls="selectFromDbModal" aria-haspopup="dialog"
            >
                <div class="flex flex-col items-center space-y-20">
                    <p class="text-sm font-medium text-primary">Select from Database</p>
                </div>
              </button>

            <!-- Modal backdrop and container -->
            <div
                id="selectFromDbModal" 
                tabindex="-1" 
                aria-hidden="true" 
                class="fixed inset-0 z-50 hidden overflow-y-auto bg-black bg-opacity-50 flex items-center justify-center">
              <div 
                  class="relative w-full max-w-4xl p-6 mx-auto bg-primary rounded-lg shadow-lg"
                  role="dialog" aria-modal="true" aria-labelledby="modal-title"
                  style="max-height: 95vh; overflow-y: auto;">
                <!-- Close button -->
                <button 
                    type="button" 
                    class="absolute top-3 right-3 text-secondary hover:text-primary focus:outline-none"
                    id="modal-close-btn"
                    aria-label="Close modal">
                    <svg class="w-6 h-6" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round">
                      <line x1="18" y1="6" x2="6" y2="18"></line>
                      <line x1="6" y1="6" x2="18" y2="18"></line>
                    </svg>
                </button>

                <!-- Modal content (form fields) -->
                <div>
                  <!-- Input Fields -->
                  <div class="py-4">
                    <div>
                      {% if not request.user.on_free_trial %}

                        <div class="relative inline-flex items-center justify-center w-full">
                          <h2 class="text-base md:text-lg font-semibold my-6 text-blue-600">
                            Please select one of the two methods below
                          </h2>
                        </div>

                        <div class="grid md:grid-cols-2 md:gap-x-6">
                          <div>
                            <label class="block text-sm font-medium text-secondary">Starting MC Number</label>
                            {{ form.mc_number|add_class:"mt-1 block w-full p-3 border focus:ring-gray-500 focus:border-gray-500 rounded-lg outline-none text-primary bg-primary" }}
                          </div>

                          <div>
                            <label class="block text-sm font-medium text-secondary">Targets Count</label>
                            {{ form.targets_count|add_class:"mt-1 block w-full p-3 border focus:ring-gray-500 focus:border-gray-500 rounded-lg outline-none text-primary bg-primary" }}
                            {% if form.targets_count.errors %}
                              <div class="bg-red-200 p-5 my-3 rounded-xl border-2 border-solid border-red-700"><p class="text-red-700 text-sm">{{ form.targets_count.errors.0 }}</p></div>
                            {% endif %}
                          </div>
                        </div>

                        <div class="relative inline-flex items-center justify-center w-full">
                          <h2 class="text-base md:text-base my-6 text-blue-600">
                            Or select a range of MC numbers so that the leads will be collected in that range
                          </h2>
                        </div>

                        <div class="grid md:grid-cols-2 md:gap-x-6">
                          <div>
                            <label class="block text-sm font-medium text-secondary">Lower Limit of MC Number</label>
                            {{ form.lower_limit_mc_number|add_class:"mt-1 block w-full p-3 border focus:ring-gray-500 focus:border-gray-500 rounded-lg outline-none text-primary bg-primary" }}
                          </div>

                          <div>
                            <label class="block text-sm font-medium text-secondary">Upper Limit of MC Number</label>
                            {{ form.upper_limit_mc_number|add_class:"mt-1 block w-full p-3 border focus:ring-gray-500 focus:border-gray-500 rounded-lg outline-none text-primary bg-primary" }}
                          </div>
                        </div>

                        <div class="mt-6">
                          <label for="skip-mc-numbers-input" class="block text-sm font-medium text-secondary mb-2">
                            Skip These MC Numbers (Optional)
                          </label>
                          {{ form.skip_mc_numbers|add_class:"w-full" }}
                          <p class="text-sm text-tertiary mt-1 text-yellow-600">Type an MC Number like "MC 1234567" and press Enter to add. Click x to remove.</p>
                          {% if form.skip_mc_numbers.errors %}
                            <div class="bg-red-200 p-5 my-3 rounded-xl border-2 border-solid border-red-700">
                              <p class="text-red-700 text-sm">{{ form.skip_mc_numbers.errors.0 }}</p>
                            </div>
                          {% endif %}
                        </div>

                        <div class="relative inline-flex items-center justify-center w-full">
                          <h2 class="text-base md:text-lg font-semibold my-6 text-blue-600">
                            Available Filters
                          </h2>
                        </div>


                        <div class="grid md:grid-cols-2 md:gap-x-6">
                          <div>
                            <label class="block text-sm font-medium text-secondary">Power Units (Comparison)</label>
                            {{ form.power_units_comparison|add_class:"mt-1 block w-full p-3 border focus:ring-gray-500 focus:border-gray-500 rounded-lg outline-none text-primary bg-primary" }}
                          </div>
                          <div>
                            <label class="block text-sm font-medium text-secondary">Power Units (Value)</label>
                            {{ form.power_units_value|add_class:"mt-1 block w-full p-3 border focus:ring-gray-500 focus:border-gray-500 rounded-lg outline-none text-primary bg-primary" }}
                            {% if form.power_units_value.errors %}
                              <div class="bg-red-200 p-5 my-3 rounded-xl border-2 border-solid border-red-700">
                                <p class="text-red-700 text-sm">{{ form.power_units_value.errors.0 }}</p>
                              </div>
                            {% endif %}
                          </div>

                          <div>
                            <label class="block text-sm font-medium text-secondary mt-5">Drivers (Comparison)</label>
                            {{ form.drivers_comparison|add_class:"mt-1 block w-full p-3 border focus:ring-gray-500 focus:border-gray-500 rounded-lg outline-none text-primary bg-primary" }}
                          </div>
                          <div>
                            <label class="block text-sm font-medium text-secondary mt-5">Drivers (Value)</label>
                            {{ form.drivers_value|add_class:"mt-1 block w-full p-3 border focus:ring-gray-500 focus:border-gray-500 rounded-lg outline-none text-primary bg-primary" }}
                            {% if form.drivers_value.errors %}
                              <div class="bg-red-200 p-5 my-3 rounded-xl border-2 border-solid border-red-700">
                                <p class="text-red-700 text-sm">{{ form.drivers_value.errors.0 }}</p>
                              </div>
                            {% endif %}
                          </div>

                          <div>
                            <label class="block text-sm font-medium text-secondary mt-5">Status</label>
                            {{ form.status|add_class:"mt-1 block w-full p-3 border focus:ring-gray-500 focus:border-gray-500 rounded-lg outline-none text-primary bg-primary" }}
                          </div>
                          <div>
                            <label class="block text-sm font-medium text-secondary mt-5">Carrier Operation</label>
                            {{ form.carrier_operation|add_class:"mt-1 block w-full p-3 border focus:ring-gray-500 focus:border-gray-500 rounded-lg outline-none text-primary bg-primary" }}
                          </div></div>

                          <div class="grid md:grid-cols-2 md:gap-x-6 my-5">
                            <div>
                              <label class="block text-sm font-medium text-secondary">Cargo Classification</label>
                              {{ form.cargo_classification_search|add_class:"w-full"|attr:"id:id_cargo_classification_search" }}
                              
                              <p class="text-sm text-tertiary mt-1 text-yellow-600">Type your choice and press Enter to add. Click x to remove.</p>
                              <p class="text-sm text-primary my-4">
                                You can simply <span class="font-bold">copy, paste</span> from the following examples:
                              </p>
                              <div class="mt-2 flex flex-wrap gap-2 text-xs font-medium">
                                <span class="px-2 py-1 bg-primary btn-border-hover rounded-md text-primary bg-tertiary">GENERAL FREIGHT</span>
                                <span class="px-2 py-1 bg-primary btn-border-hover rounded-md text-primary bg-tertiary">MOTOR VEHICLES</span>
                                <span class="px-2 py-1 bg-primary btn-border-hover rounded-md text-primary bg-tertiary">METAL; SHEETS, COILS, ROLLS</span>
                                <span class="px-2 py-1 bg-primary btn-border-hover rounded-md text-primary bg-tertiary">MACHINERY, LARGE OBJECTS</span>
                                <span class="px-2 py-1 bg-primary btn-border-hover rounded-md text-primary bg-tertiary">FRESH PRODUCE</span>
                                <span class="px-2 py-1 bg-primary btn-border-hover rounded-md text-primary bg-tertiary">REFRIGERATED FOOD</span>
                                <span class="px-2 py-1">etc.</span>
                              </div>
                            </div>

                            <div>
                              <label class="block text-sm font-medium text-secondary">Cargo Info</label>
                              {{ form.cargo_info_search|add_class:"w-full"|attr:"id:id_cargo_info_search" }}

                              <p class="text-sm text-tertiary mt-1 text-yellow-600">Type your choice and press Enter to add. Click x to remove.</p>
                              <p class="text-sm text-primary my-4">
                                You can simply <span class="font-bold">copy, paste</span> from the following examples:
                              </p>
                              <div class="mt-2 flex flex-wrap gap-2 text-xs font-medium">
                                <span class="px-2 py-1 bg-primary btn-border-hover rounded-md text-primary bg-tertiary">Straight Trucks</span>
                                <span class="px-2 py-1 bg-primary btn-border-hover rounded-md text-primary bg-tertiary">Trailers</span>
                                <span class="px-2 py-1 bg-primary btn-border-hover rounded-md text-primary bg-tertiary">Truck Tractors</span>
                                <span class="px-2 py-1 bg-primary btn-border-hover rounded-md text-primary bg-tertiary">Van</span>
                                <span class="px-2 py-1 bg-primary btn-border-hover rounded-md text-primary bg-tertiary">Limousine</span>
                                <span class="px-2 py-1 bg-primary btn-border-hover rounded-md text-primary bg-tertiary">Mini-Bus</span>
                                <span class="px-2 py-1 bg-primary btn-border-hover rounded-md text-primary bg-tertiary">Motor Coach</span>
                                <span class="px-2 py-1 bg-primary btn-border-hover rounded-md text-primary bg-tertiary">Hazmat Cargo Tank Trailers</span>
                                <span class="px-2 py-1 bg-primary btn-border-hover rounded-md text-primary bg-tertiary">Hazmat Cargo Tank Trucks</span>
                                <span class="px-2 py-1">etc.</span>
                              </div>

                            </div>
                          </div>

                          <div class="mx-auto text-center max-w-full mt-5">
                            <button 
                              type="button"
                              class="text-lg font-semibold btn-bg-primary btn-bg-hover btn-text py-2 px-4 rounded-full shadow-lg "
                              onclick="document.getElementById('selectFromDbModal').classList.add('hidden')"
                            >
                              Confirm Selection
                            </button>
                          </div>

                      {% else %}
                        <p class="text-sm text-red-600"><strong>Exclusive to active subscribers</strong> — unlock this powerful feature and stay ahead, while free trial users remain limited</p>
                      {% endif %}

                      {% if form.mc_number.errors %}
                        <div class="bg-red-200 p-5 my-3 rounded-xl border-2 border-solid border-red-700"><p class="text-red-700 text-sm">{{ form.mc_number.errors.0 }}</p></div>
                      {% endif %}
                    </div>
                  </div>

                </div>
              </div>
            </div>
        </div>
      </div>

      <div class="container mx-auto px-4 mb-10 text-center">
        <!-- Launch Button -->
        <div class="mt-6">
            <button type="submit" class="btn-bg-primary btn-bg-hover btn-text font-semibold py-3 px-6 rounded-full shadow-lg text-lg">
                Submit Leads
            </button>
        </div>
      </div>

		</form>

    <section id="reset-button" class="flex flex-col items-center text-center px-4 md:px-4 lg:px-5 py-6 my-5 hidden">
      <span class="text-md font-medium text-secondary bg-secondary px-4 py-1 rounded-full">
        Step 1
      </span>
      <h2 class="text-2xl md:text-3xl font-semibold mt-3 text-secondary">
        Select Lead Source
      </h2>
      <!-- Reset Button (Initially Hidden) -->
      <a href="{% url 'dashboard:bulk_campaign' %}" class="border btn-bg-primary btn-text mt-5 w-72 font-semibold py-3 px-6 rounded-full shadow-lg text-lg">
        Reset Leads 🔁
      </a>  
    </section>

    <!-- Step 2 - Rest of the inputs -->
    <div id="step-2-wrapper" class="hidden">

      <form enctype="multipart/form-data" method="post" id="campaign-step2-form">
        {% csrf_token %}

        {% if form.non_field_errors %}
        <div class="text-red-500 text-sm mb-2">
            {{ form.non_field_errors }}
        </div>
        {% endif %}

        <!-- Email Accounts Select -->
        <section class="flex flex-col items-center text-center px-4 md:px-4 lg:px-5 py-6 mt-20">
          <span class="text-md font-medium text-secondary bg-secondary px-4 py-1 rounded-full">
            Step 2
          </span>
          <h2 class="text-2xl md:text-3xl font-semibold mt-3 text-primary">
            Select Your Email Accounts
          </h2>
          <p class="text-tertiary text-base mt-2">
            Select the email accounts you want to use for this bulk action and the number of leads you want that specific account to target.
          </p>
        </section>

        <div class="container mx-auto px-4 max-w-6xl mb-20">
          <div class="bg-primary border btn-border-hover rounded-lg shadow-md">
            <div class="p-6">
              <h2 class="text-xl font-semibold mb-4 flex items-center justify-between">
                <span class="text-secondary">Select Email Accounts and Assign Lead Counts</span>
                <span id="lead-summary" class="text-red-600 text-sm font-medium ml-4 whitespace-nowrap">
                  Make sure that the number of leads you assign here are equal to the leads you submitted earlier! 
                </span>
              </h2>
              
        
              <div class="overflow-x-auto">
                <!-- Table Starts -->
                <table class="w-full table-auto border border-gray-200 rounded-md overflow-hidden">

                  <thead class="bg-hover-light text-secondary text-sm">

                    <!-- Table Headers -->
                    <tr>
                      <th class="border-t border-b px-4 py-2 text-left">Email Accounts</th>
                      <th class="border-t border-b px-4 py-2 text-left">Leads to Send</th>
                    </tr>

                  </thead>
                
                  <tbody class="text-sm text-primary">
                    <!-- Select All Row -->
                    <tr>
                      <th colspan="2" class="px-4 py-2 text-left">
                        <label class="inline-flex items-center space-x-2">
                          <input
                            type="checkbox"
                            name="select_all"
                            id="select_all_checkbox"
                            class="mr-2 btn-border-hover checkbox-custom rounded-md hover:cursor-pointer"
                            onclick="toggleAllAccounts(this)"
                          >
                          <span class="font-medium text-blue-600 hover:cursor-pointer">
                            Select All Accounts and Auto-Distribute Leads 
                            <span class="text-tertiary">(No need to enter leads for each account)</span>
                          </span>
                        </label>
                      </th>
                    </tr>
                    {% for account in email_accounts %}
                      <tr class="border-b">
                        <td class="px-4 py-2">
                          <label class="flex items-center space-x-2">
                            <input
                              type="checkbox"
                              name="selected_accounts"
                              value="{{ account.id }}"
                              class="account-checkbox checkbox-custom mr-2 btn-border-hover rounded-md hover:cursor-pointer"
                              id="checkbox_{{ account.id }}"
                              onclick="toggleLeadInput({{ account.id }})"
                            >
                            <span class="hover:cursor-pointer">{{ account.email_address }}</span>
                          </label>
                        </td>
                        <td class="px-4 py-2">
                          <input
                            type="number"
                            name="emails_for_account_{{ account.id }}"
                            class="w-full border bg-primary text-primary rounded-lg px-3 py-2 hidden"
                            placeholder="Number of leads to assign to {{ account.email_address }}"
                            min="1"
                            id="lead_input_{{ account.id }}"
                          >
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                
                </table>
                
              </div>
        
            </div>
          </div>
        </div>
        
        <!-- Set Delay -->
        <section class="flex flex-col max-w-2xl mx-auto items-center text-center px-4 md:px-4 lg:px-5 py-6 mt-20">
					<span class="text-md font-medium text-secondary bg-secondary px-4 py-1 rounded-full">
						Step 3
					</span>
					<h2 class="text-2xl md:text-3xl font-semibold mt-3 text-primary">
						Set Delay
					</h2>
					<p class="text-tertiary text-base mt-2">
						Number of seconds to wait between each email send.  
            The system will select a <span class="font-bold">random value between</span> the minimum and maximum range you specify.  
            This is done to <span class="font-bold">mimic natural human behavior</span> when sending campaigns.
					</p>
				</section>

        <div class="container mx-auto px-4 max-w-2xl mb-20">
          <div class="bg-primary btn-border-hover rounded-lg shadow-md">
        
            <div class="grid grid-cols-1 gap-4 p-6">
              <div>
                {% render_field form.min_delay class="w-full border btn-border-hover rounded-lg px-3 py-2 focus:ring focus:ring-gray-200 focus:outline-none bg-primary text-primary" %}
                {% if form.min_delay.errors %}
                  <div class="bg-red-200 p-5 my-3 rounded-xl border-2 border-solid border-red-700">
                    <p class="text-red-700 text-sm">{{ form.min_delay.errors|first }}</p>
                  </div>
                {% endif %}
              </div>
              <div>
                {% render_field form.max_delay class="w-full border btn-border-hover rounded-lg px-3 py-2 focus:ring focus:ring-gray-200 focus:outline-none bg-primary text-primary" %}
                {% if form.max_delay.errors %}
                  <div class="bg-red-200 p-5 my-3 rounded-xl border-2 border-solid border-red-700">
                    <p class="text-red-700 text-sm">{{ form.max_delay.errors|first }}</p>
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>

        <section class="flex flex-col max-w-2xl mx-auto items-center text-center px-4 md:px-4 lg:px-5">
					<h2 class="text-2xl md:text-3xl font-semibold mt-3 text-primary">
						Schedule Campaign
					</h2>
					<p class="text-tertiary text-base my-5">
            <span class="font-bold">Optional: </span>Select a <span class="font-bold">future date and time (your local time)</span> to launch this campaign.
          </p>
				</section>

        <div class="container mx-auto px-4 max-w-2xl mb-20">
          <div class="bg-primary rounded-lg shadow-md">
        
            <div class="p-6">
              <div>
                {% render_field form.schedule_launch_datetime class="w-full border rounded-lg px-3 py-2 focus:ring focus:ring-gray-200 focus:outline-none bg-primary text-primary" %}
                {% if form.schedule_launch_datetime.errors %}
                  <div class="bg-red-200 p-5 my-3 rounded-xl border-2 border-solid border-red-700">
                    <p class="text-red-700 text-sm">{{ form.schedule_launch_datetime.errors|first }}</p>
                  </div>
                {% endif %}
              </div>
            </div>

          </div>
          <div>
            <p class="text-red-700 text-lg mt-3 text-center">
              Scheduling is completely optional. If you prefer to launch the campaign immediately, you can skip selecting a date and time.
            </p>
          </div>
        </div>
        
        <!-- Enter email subject and body -->
        <section class="flex flex-col items-center text-center px-4 md:px-4 lg:px-5 py-6 mt-10">
          <span class="text-md font-medium text-secondary bg-secondary px-4 py-1 rounded-full">
            Step 4
          </span>
          <h2 class="text-2xl md:text-3xl font-semibold mt-3 text-primary">
            Craft your Email
          </h2>
          <p class="text-tertiary text-base mt-2">
            Customize the message that will be sent to your leads
          </p>
        </section>
        
        <div class="container mx-auto px-4 pt-8 pb-4 max-w-6xl">

          <!-- Guidelines & Tips Box -->
          <div class="p-6 bg-primary rounded-lg shadow-md my-6">
            <h2 class="text-xl font-semibold text-secondary">Guidelines & Tips</h2>
            <p class="text-tertiary">Best practices for effective campaigns</p>

            <div class="mt-4 p-4 bg-secondary rounded-lg">
                <h3 class="text-sm font-semibold text-secondary">General Instructions</h3>
                <ul class="mt-2 text-sm text-primary space-y-1">
                    <li>• Keep your message clear and concise</li>
                    <li>• Personalize whenever possible</li>
                    <li>• Include a clear call-to-action</li>
                    <li>• Avoid spam-triggering words and phrases</li>
                    <li>• Test your campaign with a small sample first</li>
                </ul>
            </div>
          </div>
              
          <!-- Campaign Message Box -->
          <div class="p-6 bg-primary rounded-lg shadow-md">
              <h2 class="text-xl font-semibold text-secondary">Campaign Message</h2>
              <p class="text-tertiary">Create a compelling message for your campaign</p>

              
              <div class="my-4 p-4 bg-secondary rounded-lg">
                <h3 class="text-base font-bold text-secondary">Personalization Guide</h3>
                <p class="mt-2 text-sm text-primary">
                  <span class="font-bold text-blue-600">If you are using your custom sheet</span>: To personalize your message, use <strong>[column_name]</strong> where <span class="font-semibold">column_name matches exactly the column header from your uploaded file.</span>
                </p>
                <p class="text-sm text-primary mt-4">
                  <span class="font-bold text-green-600">If you are using our database</span>, the following columns are available for personalization:
                </p>
                <div class="mt-2 flex flex-wrap gap-2 text-xs font-medium">
                  <span class="px-2 py-1 bg-white rounded-md">[MC Number]</span>
                  <span class="px-2 py-1 bg-white rounded-md">[Legal Name]</span>
                  <span class="px-2 py-1 bg-white rounded-md">[Email]</span>
                  <span class="px-2 py-1 bg-white rounded-md">[U.S DOT]</span>
                  <span class="px-2 py-1 bg-white rounded-md">[VMT Year]</span>
                  <span class="px-2 py-1 bg-white rounded-md">[Power Units]</span>
                  <span class="px-2 py-1 bg-white rounded-md">[DUNS Number]</span>
                  <span class="px-2 py-1 bg-white rounded-md">[Drivers]</span>
                  <span class="px-2 py-1 bg-white rounded-md">[Telephone]</span>
                  <span class="px-2 py-1 bg-white rounded-md">[Address]</span>
                  <span class="px-2 py-1 bg-white rounded-md">[Cargo Classifications]</span>
                </div>
              </div>


              <div class="mt-4">
                <label class="block text-sm font-medium text-secondary mb-1">Email Subject</label>
                
                <div class="flex items-center gap-4">
                  {{ form.email_subject|add_class:"w-2/3 p-3 border focus:ring-gray-500 focus:border-gray-500 rounded-lg outline-none text-primary bg-primary" }}

                  <div class="flex items-center space-x-2">
                    {{ form.track_campaign|add_class:"sr-only toggle-input" }}
                    
                    <label for="{{ form.track_campaign.id_for_label }}" class="toggle-label"></label>
                    <span class="text-base text-primary">Track Open Rate</span>
                  </div>
                </div>

                {% if form.email_subject.errors %}
                  <div class="bg-red-200 p-5 my-3 rounded-xl border-2 border-solid border-red-700">
                    <p class="text-red-700 text-sm">{{ form.email_subject.errors.0 }}</p>
                  </div>
                {% endif %}
              </div>

              <div class="mt-4">
                <label class="block text-sm font-medium text-secondary">Email Body</label>
                <div class="mt-1 w-full border rounded-lg focus-within:ring-2 focus-within:ring-gray-500 focus-within:border-gray-500">
                    {{ form.email_body }}
                </div>
                {% if form.email_body.errors %}
                    <div class="bg-red-200 p-5 my-3 rounded-xl border-2 border-solid border-red-700"><p class="text-red-700 text-sm">{{ form.email_body.errors.0 }}</p></div>
                {% endif %}
              </div>
          </div>

        </div>

        <!-- Launch Button -->
        <section class="flex flex-col items-center text-center px-4 md:px-4 lg:px-5 py-6 my-5">
          <span class="text-md font-medium text-secondary bg-secondary px-4 py-1 rounded-full">
            Step 5
          </span>
          <h2 class="text-2xl md:text-3xl font-semibold mt-3 text-primary">
            Ready to Launch
          </h2>
        </section>

        <input type="hidden" name="submit_allocation" value="1">

        <div class="container mx-auto px-4 mb-10 text-center">
          <!-- Launch Button -->
          <!-- Error message container above the submit button -->
          <div id="error-message" class="text-red-600 mt-4 hidden text-sm"></div>

          <!-- Submit button -->
          <div id="step-2-submit" class="container mx-auto px-4 mb-10 text-center">
            <div class="mt-6">
              <button type="submit" class="btn-bg-primary btn-bg-hover btn-text font-semibold py-3 px-6 rounded-full shadow-lg text-lg">
                Launch Bulk Campaign 🚀
              </button>
            </div>
          </div>
        </div>

      </form>

    </div>

		<script>
			function updateFileName(input) {
					const fileName = input.files.length ? input.files[0].name : "No file chosen";
					document.getElementById("file-name").textContent = fileName;
			}
		</script>
    
  {% else %}    

		{% include 'price_base.html' %}

	{% endif %}

	
</div>

  <!-- Assign accounts and leads checkboxes -->
  <script>
    function toggleLeadInput(accountId, forceChecked = null) {
      var checkbox = document.getElementById('checkbox_' + accountId);
      var leadInput = document.getElementById('lead_input_' + accountId);

      // Set the checkbox state if forceChecked is provided
      if (forceChecked !== null) {
        checkbox.checked = forceChecked;
      }

      // Toggle visibility of the lead input based on the checkbox
      if (checkbox.checked) {
        leadInput.classList.remove('hidden');
      } else {
        leadInput.classList.add('hidden');
      }
    }

    function toggleAllAccounts(selectAllCheckbox) {
      const checkboxes = document.querySelectorAll('.account-checkbox');
      const selectAllState = selectAllCheckbox.checked;

      checkboxes.forEach(checkbox => {
        const accountId = checkbox.value;
        toggleLeadInput(accountId, selectAllState);
      });
    }
  </script>

  <!-- Forms transition -->
  <script>
    document.getElementById('campaign-form').addEventListener('submit', async function (e) {
      e.preventDefault(); // Prevent form reload for Step 1 only

      const form = e.target;
      const formData = new FormData(form);

      // Add submit_leads to simulate button name for Step 1
      formData.append('submit_leads', '1');

      try {
        const response = await fetch(form.action, {
          method: 'POST',
          headers: {
            'X-Requested-With': 'XMLHttpRequest',
            'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
          },
          body: formData
        });

        const data = await response.json();
        console.log('Response Data:', data);

        if (data.status === 'success') {
          const proceed = confirm(data.message);  // Show confirm box

          if (proceed) {
              // Hide Step 1 form and show the reset button
              document.getElementById('campaign-form').classList.add('hidden');
              document.getElementById('reset-button').classList.remove('hidden');

              // Show Step 2 and scroll to it
              document.getElementById('step-2-wrapper').classList.remove('hidden');
              document.getElementById('step-2-wrapper').scrollIntoView({ behavior: 'smooth' });
          }

        } else {
          // Show errors
          if (data.errors) {
            Object.entries(data.errors).forEach(([field, errorList]) => {
              alert(`${field}: ${errorList[0][0].message}`);
            });
          } else {
            alert(data.message);
          }
        }
      } catch (error) {
        console.error("AJAX error:", error);
        alert("Something went wrong. Please try again.");
      }
    });
  </script>

  <!-- Select from DB -->
  <script>
    const openModalBtn = document.getElementById('open-modal-btn');
    const modal = document.getElementById('selectFromDbModal');
    const closeModalBtn = document.getElementById('modal-close-btn');

    // Open modal on button click
    openModalBtn.addEventListener('click', () => {
      modal.classList.remove('hidden');
    });

    // Close modal on close button click
    closeModalBtn.addEventListener('click', () => {
      modal.classList.add('hidden');
    });

    // Close modal on click outside modal content
    modal.addEventListener('click', (e) => {
      if (e.target === modal) {
        modal.classList.add('hidden');
      }
    });

    // Optional: close modal on ESC key press
    document.addEventListener('keydown', (e) => {
      if (e.key === 'Escape' && !modal.classList.contains('hidden')) {
        modal.classList.add('hidden');
      }
    });
  </script>

  <!-- Tagify Script -->
  <script>
    document.addEventListener("DOMContentLoaded", function () {
        const skipMcInput = document.getElementById('skip-mc-numbers-input');
        new Tagify(skipMcInput, {
            enforceWhitelist: false,
            dropdown: {
                enabled: 0
            }
        });

        const cargoClassificationInput = document.getElementById('id_cargo_classification_search');
        new Tagify(cargoClassificationInput, {
            enforceWhitelist: false,
            dropdown: {
                enabled: 0
            }
        });

        const cargoInfoInput = document.getElementById('id_cargo_info_search');
        new Tagify(cargoInfoInput, {
            enforceWhitelist: false,
            dropdown: {
                enabled: 0
            }
        });
    });
  </script>

{% endblock %}