{% extends "dshbrd_base.html" %}

{% load static %}
{% block 'title' %}Dispatch Skool - Campaign Analytics{% endblock %}

{% block 'content' %}


<div class="p-4 sm:ml-72">

  <div class="text-center max-w-4xl mx-auto px-4 pt-16 pb-5 text-primary">
      <h2 class="text-3xl md:text-4xl font-bold">Your Past Campaigns, <span class="text-blue-600 font-bold">All in One Place</span></h2>
			<div class="overflow-auto max-w-full">
				{% if not page_obj %}
				<div class="text-center mx-auto max-w-4xl p-5">
					<p class="text-tertiary text-lg md:text-xl">
						Welcome! It looks like you haven't launched any campaigns yet. Get started by launching your first campaign to see how they're performing!
					</p>
				</div>
        {% endif %}
      </div>
  </div>

	<div class="flex flex-col md:flex-row gap-6">
		<!-- Email Campaigns Table -->
		<div class="flex-1 p-6 bg-primary shadow-md rounded-lg">
			
				<table class="w-full min-w-[600px] border-collapse overflow-x-auto text-primary">
					<thead>
							<tr class="bg-tertiary">
									<th class="text-left p-3">Email Account</th>
									<th class="text-left p-3">Subject Line</th>
									<th class="text-left p-3">Launch Date & Time</th>
									<th class="text-left p-3">Open Rate</th>
                  <th class="text-left p-3">Action</th>
							</tr>
					</thead>
					<tbody>
						{% for campaign in page_obj %}
						<tr class="border-b bg-hover-light">
								<td class="p-3">{{ campaign.sender_account.email_address }}</td>
								<td class="p-3">{{ campaign.subject }}</td>
								<td class="p-3">{{ campaign.launch_time }}</td>
								<td class="p-3">{{ campaign.open_rate }}/{{ campaign.total_recipients }}</td>
								<td class="p-3">
                    <a href="{% url 'dashboard:delete_campaign' campaign.id %}" 
                      class="bg-red-500 text-white px-3 py-1 rounded hover:bg-red-600 text-center">
                      Delete
                    </a>
                </td>
						</tr>
						{% endfor %}
					</tbody>

					<tfoot>
						<tr class="border-t bg-tertiary">
								<td colspan="5" class="p-3 text-secondary font-bold">Total Campaign Records: {{ page_obj|length }}</td>
						</tr>
					</tfoot>
				</table>
				
			</div>
		</div>
	</div>

</div>	



{% endblock %}
