{% extends "dshbrd_base.html" %}

{% load static %}
{% block 'title' %}Dispatch Skool - Coming Soon{% endblock %}

{% block 'content' %}

<div class="sm:ml-64">

	<section class="min-h-screen flex flex-col justify-center items-center text-center px-4 md:px-4 lg:px-5">
    <span class="text-md font-medium text-gray-700 bg-slate-200 px-4 py-1 rounded-full">
        Excited! Aren't We?
    </span>
    <h1 class="text-3xl md:text-5xl font-bold text-gray-900 leading-tight mt-4 py-2">
        Something Amazing is
    </h1>
    <h2 class="text-6xl md:text-8xl font-bold text-blue-500 lg:py-2">
        Coming Soon
    </h2>
    <p class="text-gray-500 text-xl sm:text-2xl md:text-2xl max-w-2xl mt-4">
        We're building a powerful experience that will redefine the way you work. 
        Designed for efficiency, simplicity, and seamless performance.
    </p>
	</section>

</div>

{% endblock %}
