{% extends "dshbrd_base.html" %}

{% load static %}
{% block 'title' %}Dispatch Skool - Daily MC Sheets{% endblock %}

{% load widget_tweaks %}

{% block 'content' %}


<div class="p-4 sm:ml-72">

	{% if request.user.subscription.status == "active" %}

    <div class="text-center max-w-4xl mx-auto px-4 pt-16 pb-5">
      <h2 class="text-3xl md:text-4xl font-bold">
        Daily MC Sheets
      </h2>
      <p class="text-gray-500 text-lg md:text-xl mt-5">
        You can download the latest FMCSA MC Sheets daily.
        This page stores records of the <strong>up to the past 30 days</strong>. Feel free to access and review any previous sheets whenever you need!
      </p>
    </div>

    <div class="overflow-auto mx-auto p-5 bg-white max-w-6xl mt-5">
      {% if not sheets %}
          <div class="text-center max-w-4xl p-5">
              <p class="text-gray-500 text-lg mt-6">
                  No daily sheets uploaded yet. Upload a file to get started!
              </p>
          </div>
      {% else %}
          <table class="w-full min-w-[600px] border-collapse overflow-x-auto">
              <thead>
                  <tr class="bg-gray-200">
                      <th class="text-left p-3">File Name</th>
                      <th class="text-left p-3">Number of Rows</th>
                      <th class="text-left p-3">Actions</th>
                  </tr>
              </thead>
              <tbody>
                  {% for sheet in sheets %}
                      <tr class="border-b hover:bg-gray-100">

                          <!-- File Name -->
                          <td class="p-3">{{ sheet.file.name|cut:"daily_sheets/" }}</td>

                          <!-- Uploaded Date -->
                          <td class="p-3">{{ sheet.row_count }}</td>

                          <!-- Actions -->
                          <td class="p-3 space-x-4">
                        
                            <!-- Download Button -->
                            <a href="{{ sheet.file.url }}" download 
                                class="bg-green-500 text-white px-3 py-1 rounded hover:bg-green-600">
                                Download
                            </a>
                          </td>
                        
                      </tr>
                  {% endfor %}
              </tbody>
          </table>
      {% endif %}
    </div>

	{% else %}

		<section class="flex flex-col items-center text-center px-4 md:px-4 lg:px-5 py-6">
			<span class="text-md font-medium text-gray-700 bg-slate-200 px-4 py-1 rounded-full">
					Action Required
			</span>
			<h1 class="text-2xl md:text-4xl font-bold text-gray-900 leading-tight mt-4 py-2">
				Unlock Full Access: Subscribe Now
			</h1>
			<p class="text-gray-500 text-xl sm:text-2xl md:text-2xl max-w-lg mt-4">
				To continue enjoying our premium features and services, please subscribe.
			</p>
		</section>

		<div class="flex flex-col md:flex-row justify-center gap-8 p-8">

			<div class="relative w-full md:w-1/2 lg:w-1/3 bg-white shadow-lg rounded-2xl p-8 border text-center">

        <!-- Title -->
        <h2 class="text-2xl font-extrabold">Basic</h2>

        <!-- Price with strike and discount -->
        <div class="relative mt-3 flex flex-col items-center justify-center">
          <span class="text-4xl md:text-5xl font-extrabold text-green-500 -mt-2 z-20">$36/Month</span>
        </div>

        <p class="text-gray-500 text-lg mt-2">Everything you need to scale</p>

        <!-- Features -->
        <ul class="text-left my-6 space-y-3 text-lg sm:px-4">
          <li class="flex items-start">
            <span class="text-green-600 mr-2 mt-1">✔</span>
            <span>Attach unlimited email accounts</span>
          </li>
          <li class="flex items-start">
            <span class="text-green-600 mr-2 mt-1">✔</span>
            <span>Send bulk emails using multiple accounts simultaneously</span>
          </li>
          <li class="flex items-start">
            <span class="text-green-600 mr-2 mt-1">✔</span>
            <span>Access a built-in carrier database updated weekly</span>
          </li>
          <li class="flex items-start">
            <span class="text-green-600 mr-2 mt-1">✔</span>
            <span>Daily MC sheets in Excel format</span>
          </li>
          <li class="flex items-start">
            <span class="text-green-600 mr-2 mt-1">✔</span>
            <span>Leads data on demand (Excel files)</span>
          </li>
        </ul>

        <!-- CTA Button -->
        <a href="https://wa.me/923201410032" target="_blank" rel="noopener noreferrer" class="inline-block text-lg font-semibold py-3 px-14 rounded-xl bg-green-600 hover:bg-green-700 text-white">
            <span><i class="fa-brands fa-whatsapp"></i></span> +92 320 1410032
        </a>

      </div>

      <div class="relative w-full md:w-1/2 lg:w-1/3 bg-white shadow-lg rounded-2xl p-8 border text-center">

        <!-- Title -->
        <h2 class="text-2xl font-extrabold">Standard</h2>

        <!-- Price with strike and discount -->
        <div class="relative mt-3 flex flex-col items-center justify-center">
          <span class="text-4xl md:text-5xl font-extrabold text-green-500 -mt-2 z-20">$56/Month</span>
        </div>

        <p class="text-gray-500 text-lg mt-2">Everything included in Basic package, plus:</p>

        <!-- Features -->
        <ul class="text-left my-6 space-y-3 text-lg sm:px-4">
          <li class="flex items-start">
            <span class="text-green-600 mr-2 mt-1">✔</span>
            <span>Unified Inboxes</span>
          </li>
          <li class="flex items-start">
            <span class="text-green-600 mr-2 mt-1">✔</span>
            <span>Auto Email Accounts Warmup</span>
          </li>
          <li class="flex items-start">
            <span class="text-green-600 mr-2 mt-1">✔</span>
            <span>Verified email addresses with zero bounce rate</span>
          </li>
          <li class="flex items-start">
            <span class="text-green-600 mr-2 mt-1">✔</span>
            <span>Priority Support</span>
          </li>
        </ul>

        <!-- CTA Button -->
        <a href="https://wa.me/923201410032" target="_blank" rel="noopener noreferrer" class="inline-block text-lg font-semibold py-3 px-14 rounded-xl bg-green-600 hover:bg-green-700 text-white">
            <span><i class="fa-brands fa-whatsapp"></i></span> +92 320 1410032
        </a>
        
        <button class="inline-block text-2xl font-semibold py-3 px-14 mt-5 rounded-xl bg-gray-800 hover:bg-gray-800 text-white">
          Hot Favourite 🔥
        </button>

      </div>

      <div class="relative w-full md:w-1/2 lg:w-1/3 bg-white shadow-lg rounded-2xl p-8 border text-center">

        <!-- Title -->
        <h2 class="text-2xl font-extrabold">Premium</h2>

        <!-- Price with strike and discount -->
        <div class="relative mt-3 flex flex-col items-center justify-center">
          <span class="text-4xl md:text-5xl font-extrabold text-green-500 -mt-2 z-20">$99/Month</span>
        </div>

        <p class="text-gray-500 text-lg mt-2">Everything included in Standard package, plus:</p>
        <p class="text-blue-600 text-xl mt-2">Personalised Coaching for Dispatch Companies directly from <span class="font-bold">M. Ahmad Khalid</span></p>

        <!-- Features -->
        <ul class="text-left my-6 space-y-3 text-lg sm:px-4">
          <li class="flex items-start">
            <span class="text-green-600 mr-2 mt-1">✔</span>
            <span>Crafting Email Campaigns</span>
          </li>
          <li class="flex items-start">
            <span class="text-green-600 mr-2 mt-1">✔</span>
            <span>Data Management</span>
          </li>
          <li class="flex items-start">
            <span class="text-green-600 mr-2 mt-1">✔</span>
            <span>Follow up Strategies</span>
          </li>
        </ul>

        
        <a href="http://www.linkedin.com/in/muhammadahmadkhalid-dispatchskool" target="_blank" rel="noopener noreferrer" class="inline-block text-lg font-semibold py-3 mb-5 px-14 rounded-xl bg-blue-500 hover:bg-blue-600 text-white">
            <span><i class="fa-brands fa-linkedin"></i></span>&nbsp; M. Ahmad Khalid
        </a>
        <a href="https://wa.me/923201410032" target="_blank" rel="noopener noreferrer" class="inline-block text-lg font-semibold py-3 px-14 rounded-xl bg-green-600 hover:bg-green-700 text-white">
            <span><i class="fa-brands fa-whatsapp"></i></span> +92 320 1410032
        </a>

      </div>

		</div>

	{% endif %}

</div>


{% endblock %}
