{% extends "dshbrd_base.html" %}

{% load static %}
{% block 'title' %}Dispatch Skool - Daily MC Sheets{% endblock %}

{% load widget_tweaks %}

{% block 'content' %}


<div class="p-4 sm:ml-72">

	{% if request.user.eligible_for_db %}

    <div class="text-center max-w-4xl mx-auto px-4 pt-16 pb-5">
      <h2 class="text-3xl md:text-4xl font-bold text-primary">
        Daily MC Sheets
      </h2>
      <p class="text-tertiary text-lg md:text-xl mt-5">
        You can download the latest FMCSA MC Sheets daily.
        This page stores records of the <strong>up to the past 30 days</strong>. Feel free to access and review any previous sheets whenever you need!
      </p>
    </div>

    <div class="overflow-auto mx-auto p-5 bg-primary max-w-6xl mt-5">
      {% if not sheets %}
          <div class="text-center max-w-4xl p-5">
              <p class="text-tertiary text-lg mt-6">
                  No daily sheets uploaded yet. Upload a file to get started!
              </p>
          </div>
      {% else %}
          <table class="w-full min-w-[600px] border-collapse overflow-x-auto text-primary">
              <thead>
                  <tr class="bg-secondary">
                      <th class="text-left p-3">File Name</th>
                      <th class="text-left p-3">Number of Carriers</th>
                      <th class="text-left p-3">Actions</th>
                  </tr>
              </thead>
              <tbody>
                  {% for sheet in sheets %}
                      <tr class="border-b bg-hover-light">

                          <!-- File Name -->
                          <td class="p-3">{{ sheet.file.name|cut:"daily_sheets/" }}</td>

                          <!-- Uploaded Date -->
                          <td class="p-3">{{ sheet.row_count }}</td>

                          <!-- Actions -->
                          <td class="p-3 space-x-4">
                        
                            <!-- Download Button -->
                            <a href="{{ sheet.file.url }}" download 
                                class="bg-green-500 text-white px-3 py-1 rounded hover:bg-green-600">
                                Download
                            </a>
                          </td>
                        
                      </tr>
                  {% endfor %}
              </tbody>
          </table>
      {% endif %}
    </div>

	{% else %}

		{% include 'price_base.html' %}

	{% endif %}

</div>


{% endblock %}
