{% extends "dshbrd_base.html" %}

{% load static %}
{% block 'title' %}Dispatch Skool - Configure IMAP{% endblock %}

{% load widget_tweaks %}

{% block 'content' %}

<div class="p-4 sm:ml-64">

	{% if request.user.on_free_trial or request.user.subscription.status == "active" %}

  <div class="text-center max-w-4xl mx-auto px-4 pt-16 pb-5">
    <h2 class="text-3xl md:text-4xl font-bold">
      IMAP configuration for <span class="text-blue-500">{{ email_account.email_address }}</span>
    </h2>
  </div>

	<div class="max-w-2xl mx-auto mt-5">
    <div id="accordion-collapse" data-accordion="collapse">
				<h2 id="accordion-collapse-heading-1">
					<button type="button" class="flex items-center justify-between w-full p-5 font-medium text-gray-900 bg-white border border-b-0 border-gray-200 rounded-t-xl  gap-3" 
							data-accordion-target="#accordion-collapse-body-1" 
							aria-expanded="true" 
							aria-controls="accordion-collapse-body-1">
							<span class="text-base md:text-xl font-semibold">Provider Instructions</span>
							<svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
									<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
							</svg>
					</button>
				</h2>
		
        <div id="accordion-collapse-body-1" class="hidden" aria-labelledby="accordion-collapse-heading-1">
            <div class="p-5 border border-b-0 border-gray-200">
							<p class="text-gray-500 text-base mb-4 text-center">Follow these provider-specific guides to enter your email credentials securely. Each tab offers step-by-step instructions for popular email providers.</p>
            </div>
						
						<div class="mb-4 border-b border-gray-200">
							<ul class="flex flex-wrap -mb-px text-sm font-medium text-center" id="default-tab" data-tabs-toggle="#default-tab-content" role="tablist">
									<li class="me-2" role="presentation">
											<button class="inline-block p-4 border-b-2 rounded-t-lg" id="profile-tab" data-tabs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Gmail</button>
									</li>
									<li class="me-2" role="presentation">
											<button class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300" id="dashboard-tab" data-tabs-target="#dashboard" type="button" role="tab" aria-controls="dashboard" aria-selected="false">Hostinger</button>
									</li>
									<li class="me-2" role="presentation">
											<button class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300" id="settings-tab" data-tabs-target="#settings" type="button" role="tab" aria-controls="settings" aria-selected="false">Outlook</button>
									</li>
									<li role="presentation">
											<button class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300" id="contacts-tab" data-tabs-target="#contacts" type="button" role="tab" aria-controls="contacts" aria-selected="false">Other</button>
									</li>
							</ul>
							</div>
							<div id="default-tab-content">
									
									<!-- Google -->
									<div class="hidden p-4 rounded-lg bg-gray-50" id="profile" role="tabpanel" aria-labelledby="profile-tab">
										<div class="max-w-2xl mx-auto space-y-4">
								
											<div class="p-4 bg-white rounded-lg shadow-sm hover:-translate-y-1">
													<div class="flex items-start space-x-3">
															<div>
																	<h3 class="text-lg font-semibold">⚙️ IMAP Port, Server type and other details</h3>
																	<p class="text-sm text-gray-600 pl-5 pt-5">For further details like Incoming Port, Encryption type and Incoming Servr Host, please have a look at the docs. Settings for <strong>IMAP, not SMTP</strong> will be applied here.</p>
																	<a href="https://developers.google.com/gmail/imap/imap-smtp#protocol" class="text-blue-500 text-sm font-medium hover:underline pl-5">Protocol</a>
															</div>
													</div>
											</div>
										</div>
									</div>

									<!-- Hostinger -->
									<div class="hidden p-4 rounded-lg bg-gray-50" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
										<div class="max-w-2xl mx-auto space-y-4">
									
											<div class="p-4 bg-white rounded-lg shadow-sm hover:-translate-y-1">
													<div class="flex items-start space-x-3">
															<div>
																<h3 class="text-lg font-semibold">⚙️ IMAP Port, Server type and other details</h3>
																<p class="text-sm text-gray-600 pl-5 pt-5">For further details like Incoming Port, Encryption type and Incoming Servr Host, please have a look at the docs. Settings for <strong>IMAP (Incoming), Not SMTP</strong> will be applied here.</p>
																<a href="https://support.hostinger.com/en/articles/4305847-set-up-hostinger-email-on-your-applications-and-devices#step-1---gathering-email-parameters" class="text-blue-500 text-sm font-medium hover:underline pl-5 pt-5">
																	Set up Hostinger email on your applications and devices
																</a>
														</div>
													</div>
											</div>
										</div>
									</div>

									<!-- Outlook -->
									<div class="hidden p-4 rounded-lg bg-gray-50" id="settings" role="tabpanel" aria-labelledby="settings-tab">
										<div class="max-w-2xl mx-auto space-y-4">
									
											<div class="p-4 bg-white rounded-lg shadow-sm hover:-translate-y-1">
												<div class="flex items-start space-x-3">
														<div>
															<h3 class="text-lg font-semibold">⚙️ IMAP Port, Server type and other details</h3>
															<p class="text-sm text-gray-600 pl-5 pt-5">For further details like Incoming Port, Encryption type and Incoming Servr Host, please have a look at the docs. Settings for <strong>IMAP, not SMTP</strong> will be applied here.</p>
															<a href="https://support.microsoft.com/en-us/office/pop-imap-and-smtp-settings-for-outlook-com-d088b986-291d-42b8-9564-9c414e2aa040" class="text-blue-500 text-sm font-medium hover:underline pl-5 pt-5">
																POP, IMAP, and SMTP settings for Outlook.com
															</a>
													</div>
												</div>
											</div>
										</div>
									</div>

									<!-- Others -->
									<div class="hidden p-4 rounded-lg bg-gray-50" id="contacts" role="tabpanel" aria-labelledby="contacts-tab">
										<div class="max-w-2xl mx-auto space-y-4">
											<div class="p-4 bg-white rounded-lg shadow-sm hover:-translate-y-1">
													<div class="flex items-start space-x-3">
															<div>
																	<h3 class="text-lg font-semibold">📩 Check Provider Documentation</h3>
																	<p class="text-sm text-gray-600 pl-5 pt-5">Most email providers have specific instructions for app passwords or third-party access.</p>
															</div>
													</div>
											</div>
									
											<!-- Enable App Passwords -->
											<div class="p-4 bg-white rounded-lg shadow-sm hover:-translate-y-1">
													<div class="flex items-start space-x-3">
															<div>
																	<h3 class="text-lg font-semibold">🔑 Enable Two-Factor Authentication</h3>
																	<p class="text-sm text-gray-600  pl-5 pt-5">If your provider supports it, enable 2FA for additional security, then generate app passwords for third-party applications.</p>
															</div>
													</div>
											</div>
									
											<!-- Security Settings -->
											<div class="p-4 bg-white rounded-lg shadow-sm hover:-translate-y-1">
													<div class="flex items-start space-x-3">
															<div>
																	<h3 class="text-lg font-semibold">📞 Contact Support</h3>
																	<p class="text-sm text-gray-600 pl-5 pt-5">If you're unable to find the information, <a href="{% url 'main:index' %}#contact"
																		class="text-blue-500 text-sm font-medium hover:underline">contact our support team for assistance.</a></p>
															</div>
													</div>
											</div>
										</div>
									</div>

							</div>
					

        </div>
    </div>
	</div>

	<!-- Form -->
	<div class="flex items-center justify-center my-10">
		<div class="w-full max-w-2xl bg-white shadow-lg rounded-lg p-6">
			
			<div class="pb-5">
				<h2 class="text-2xl md:text-3xl font-semibold mt-1 text-center mb-2">IMAP Details</h2>
				<p class="text-gray-500 text-base mb-4 text-center">Please fill out the following details to configure your IMAP. Please refer to the <strong>above instructions</strong> depending on <strong>Your Email Provider</strong></p>
			</div>

			{% if messages %}
				{% for message in messages %}
						<div class="p-5 my-3 rounded-xl border-2 border-solid 
								{% if message.tags == 'success' %} bg-green-200 border-green-700 text-green-800 
								{% elif message.tags == 'error' %} bg-red-200 border-red-700 text-red-700
								{% elif message.tags == 'warning' %} bg-yellow-200 border-yellow-700 text-red-700
								{% endif %}">
								<p class="text-sm">{{ message }}</p>
						</div>
				{% endfor %}
			{% endif %}

	
			<form method="post" class="space-y-5">
				{% csrf_token %}

				<div>
						<label class="block font-medium text-gray-700 mb-3">IMAP Port</label>
						{% render_field form.imap_port class="w-full border border-gray-300 rounded-lg px-3 py-2 focus:ring focus:ring-gray-200 focus:outline-none" placeholder="Your IMAP Port Number, usually 993" %}
				</div>
				<div class="w-full">
						<label class="block font-medium text-gray-700 mb-3">Encryption Type</label>
						{% render_field form.imap_encryption class="w-full border border-gray-300 rounded-lg px-3 py-2 focus:ring focus:ring-gray-200 focus:outline-none" %}
				</div>
				<div class="w-full">
						<label class="block font-medium text-gray-700 mb-3">IMAP Host</label>
						{% render_field form.imap_host class="w-full border border-gray-300 rounded-lg px-3 py-2 focus:ring focus:ring-gray-200 focus:outline-none" placeholder="imap.example.com" %}
				</div>
		
				<!-- Submit Button -->
				<div class="md:col-span-2">
						<button type="submit" class="w-full bg-gray-900 hover:bg-gray-800 text-white font-medium py-2 rounded-lg">
								Configure IMAP
						</button>
				</div>
		</form>
	
	
		</div>
	</div>

	{% else %}

	<section class="flex flex-col items-center text-center px-4 md:px-4 lg:px-5 py-6">
		<span class="text-md font-medium text-gray-700 bg-slate-200 px-4 py-1 rounded-full">
				Action Required
		</span>
		<h1 class="text-2xl md:text-4xl font-bold text-gray-900 leading-tight mt-4 py-2">
			Your Subscription Has Expired
		</h1>
		<p class="text-gray-500 text-xl sm:text-2xl md:text-2xl max-w-2xl mt-4">
			Please renew your subscription to continue enjoying our premium features and services.
		</p>
	</section>

	<div class="flex flex-col md:flex-row justify-center gap-8 p-8">
	
    <!-- Pro Plan -->
    <div class="w-full md:w-1/2 lg:w-1/3 bg-white shadow-lg rounded-2xl p-8 border text-center">
        <h2 class="text-2xl font-extrabold">All Features Included</h2>
        <p class="text-4xl md:text-5xl font-extrabold mt-3">$99/month</p>
        <p class="text-gray-500 text-lg mt-2">Everything you need to scale</p>
        <ul class="text-left my-6 space-y-3 text-lg sm:px-16">
            <li>✔ Automated Carrier Outreach</li>
            <li>✔ Full carrier database access</li>
            <li>✔ Onboarding Automation</li>
            <li>✔ Daily MC Sheet Updates</li>
            <li>✔ Priority Support</li>
            <li>✔ Custom templates</li>
        </ul>
        <a href="{% url 'main:price_page' %}" class="mt-16 bg-gray-900 hover:bg-gray-800 text-white text-lg font-semibold py-3 px-10 md:px-24 rounded-xl">
            Get Started
        </a>
    </div>
  </div>

	{% endif %}

	</div>

{% endblock %}

